    
    <div class="row formContainer">
        <img id="sanmigLogo" src="" style="width:400px"/>
        <br /> <br />                        
        <form style="overflow-y: auto">

            <button class="btn btn-primary" type="button" value="REGISTER ANONYMOUS" style="display: block; margin: 0 auto; margin-top: 20px; margin-bottom: 20px; font-family: 'hero'; color: #ffffff; font-weight: 800; border: 0px; font-size: 25px; padding:20px;" ng-click="anonymousRegistration()" ng-disabled="disableSubmit == true"> ANONYMOUS REGISTRATION</button>

            <hr style='width: 500px;'/>

            <button class="btn btn-primary" type="button" value="REGISTER" style="display: block; margin: 0 auto; margin-top: 20px; margin-bottom: 20px; font-family: 'hero'; color: #ffffff; font-weight: 800; border: 0px; font-size: 25px; padding:20px;" ng-click="completeRegistration()" ng-disabled="disableSubmit == true"> COMPLETE REGISTRATION </button>

            <div id="circularG" ng-show="submitLoading" style="display: block; margin: 0 auto; margin-top: -45px">
                <div id="circularG_1" class="circularG">
                </div>
                <div id="circularG_2" class="circularG">
                </div>
                <div id="circularG_3" class="circularG">
                </div>
                <div id="circularG_4" class="circularG">
                </div>
                <div id="circularG_5" class="circularG">
                </div>
                <div id="circularG_6" class="circularG">
                </div>
                <div id="circularG_7" class="circularG">
                </div>
                <div id="circularG_8" class="circularG">
                </div>
            </div>
        </form>

        <div class="formHere" style="border: 0px; margin-top: -5px">
            <img src="images/footer1.png" style="display:block; margin: 0 auto; width: 100%" />
        </div>

    </div>

    <div class="modal fade" id="userprofile" tabindex="-1" role="dialog" aria-labelledby="userprofile" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom: 5px; background-color: #3e3e3e; border-top-left-radius: 5px; border-top-right-radius: 5px">
                    <div id="circularGRFID" ng-show="rfidLoading" style="display: block; margin: 0 auto">
                        <div id="circularGRFID_1" class="circularGRFID">
                        </div>
                        <div id="circularGRFID_2" class="circularGRFID">
                        </div>
                        <div id="circularGRFID_3" class="circularGRFID">
                        </div>
                        <div id="circularGRFID_4" class="circularGRFID">
                        </div>
                        <div id="circularGRFID_5" class="circularGRFID">
                        </div>
                        <div id="circularGRFID_6" class="circularGRFID">
                        </div>
                        <div id="circularGRFID_7" class="circularGRFID">
                        </div>
                        <div id="circularGRFID_8" class="circularGRFID">
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title" id="myModalLabel-displaytime" style="font-family: 'hero'; font-size: 20px; font-weight: 800; color: white; text-align: center">Enter RFID Code</h4>
                </div>
                <form ng-submit="checkRFID();">
                    <div class="modal-body" style="padding-top: 30px; font-family: hero; color: #3e3e3e; font-size: 25px">
                        <img src="/img/rfid.jpg" style="width: 100%" /> 
                        <input autofocus type="text" style="background-color: #fefefe; border-bottom: 1px solid #3e3e3e; text-align: center; font-size: 30px; font-family: hero; color: #3e3e3e; width: 50%; display:block; margin: 0 auto; margin-top: 50px" required ng-model="guest.uID"></input> 
                        <h6 style="color: red; text-align: center" ng-show="showError"> This RFID is already assigned to a guest.</h6>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="tryagain-displaytime btn btn-default"  style="background-color: #3e3e3e; color: white; font-family:'hero'; font-size: 15px" ng-disabled="disableRFID" value="Submit"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="thankyouprofile" tabindex="-1" role="dialog" aria-labelledby="thankyouprofile" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom: 5px; background-color: #3e3e3e; border-top-left-radius: 5px; border-top-right-radius: 5px">
                    <div id="circularGEXIT" ng-show="exitLoading" style="display: block; margin: 0 auto">
                        <div id="circularGEXIT_1" class="circularGEXIT">
                        </div>
                        <div id="circularGEXIT_2" class="circularGEXIT">
                        </div>
                        <div id="circularGEXIT_3" class="circularGEXIT">
                        </div>
                        <div id="circularGEXIT_4" class="circularGEXIT">
                        </div>
                        <div id="circularGEXIT_5" class="circularGEXIT">
                        </div>
                        <div id="circularGEXIT_6" class="circularGEXIT">
                        </div>
                        <div id="circularGEXIT_7" class="circularGEXIT">
                        </div>
                        <div id="circularGEXIT_8" class="circularGEXIT">
                        </div>
                    </div>
                    <button type="button" class="close" ng-click="noThanks();" data-dismiss="modal" ng-disabled="disableExit"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel-displaytime" style="font-family: 'hero'; font-size: 20px; font-weight: 800; color: white; text-align: center">Registration Successful</h4>
                </div>
                <div class="modal-body" style="padding-top: 30px; font-family: hero; color: #3e3e3e; font-size: 25px">
                    <h3 style="text-align:center; font-family: hero"> Thank you for signing up! <br /> Enjoy the Tricity Experience! <br /> <br /> <a href=""> <input type="image" src="/images/sharefb.png" ng-click="shareFB();" ng-show="checkFacebook();" ng-disabled="disableShare"/> </a>
                    </h3>                         
                </div>                    
            </div>
        </div>
    </div>