
        <div class="row formContainer" ng-controller="formController" >
            <img id="sanmigLogo" src=""/>
            <!-- <a href="javascript:void(0);"><img id="fbImage" src="images/connectfb.png" ng-click="connectFB();"/></a> -->
            <form id="formHere" ng-submit="submitForm();" style="overflow-y: auto">
                <div class="anotherRow row">
                    <div class="col-sm-12 fonter" ng-show="showFirstName">
                        First Name:<input type="text" id="firstName" ng-model="guest.firstName">
                        <br />
                    </div>
                     <div class="col-sm-12 fonter" ng-show="showLastName">
                        Last Name: <input type="text" id="lastName" ng-model="guest.lastName"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showMiddleName">
                        Middle Name:<input type="text" id="middleName" ng-model="guest.middleName"></input> <br />
                    </div>
                     <div class="col-sm-12 fonter" ng-show="showNickName">
                        Nickname: <input type="text" id="nickName" ng-model="guest.nickName"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showGender">
                         Gender: 
                        &nbsp; <label><input type="radio" id="male" name="gender" value="Male" ng-model="guest.gender"> Male </input> </label>&nbsp; &nbsp; &nbsp; &nbsp;<label><input type="radio" id="female" value="Female" name="gender" ng-model="guest.gender"> Female </input> </label> <br />
                    </div>
                     <div class="col-sm-12 fonter" ng-show="showEmail">
                        Email: <input type="text" id="lastName" ng-model="guest.email"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showMobileNo">
                        Mobile Number:<input type="text" id="firstName" ng-model="guest.mobileNo"></input> <br />
                    </div>
                     <div class="col-sm-12 fonter" ng-show="showTitle">
                        Title: <input type="text" id="lastName" ng-model="guest.title"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showProfession">
                        Profession: <input type="text" id="lastName" ng-model="guest.profession"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showCompany">
                        Company: <input type="text" id="lastName" ng-model="guest.company"></input> <br /> 
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showEducation">
                        Education:  <br />
                        <select style="font-size: 20px; font-family:hero; padding: 5px;" id="education" ng-model="guest.education">
                            <option> Primary </option>
                            <option> Secondary </option>
                            <option> Tertiary </option>
                            <option> Graduate </option>
                            <option> Post Graduate </option>
                        </select> <br />
                    </div>
                    <br />
                    <div class="col-sm-12 fonter" ng-show="showStreetAddress1">
                        Street Address 1: <input type="text" id="lastName" ng-model="guest.streetAddress1"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showStreetAddress2">
                        Street Address 2: <input type="text" id="lastName" ng-model="guest.streetAddress2"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showCityAddress">
                        City Address: <input type="text" id="lastName" ng-model="guest.cityAddress"></input> <br />
                    </div> 
                    <div class="col-sm-12 fonter" ng-show="showRegionAddress">
                        Region Address: <input type="text" id="lastName" ng-model="guest.regionAddress"></input> <br />
                    </div> 
                    <div class="col-sm-12 fonter" ng-show="showCountry">
                        Country: <input type="text" id="lastName" ng-model="guest.country"></input> <br />
                    </div> 
                    <div class="col-sm-12 fonter" ng-show="showZip">
                        Zip Code: <input type="text" id="lastName" ng-model="guest.zip"></input> <br />
                    </div> 
                    <div class="col-sm-12 fonter" ng-show="showReligion">
                        Religion: <input type="text" id="lastName" ng-model="guest.religion"></input> <br />
                    </div> 
                    <div class="col-sm-12 fonter" ng-show="showFacebookPage">
                        Facebook Page: <input type="text" id="lastName" ng-model="guest.facebookPage"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showTwitterHandle">
                        Twitter Handle: <input type="text" id="lastName" ng-model="guest.twitterHandle"></input> <br />
                    </div> 
                    <div class="col-sm-12 fonter" ng-show="showInstagramHandle">
                        Instagram Handle: <input type="text" id="lastName" ng-model="guest.instagramHandle"></input>
                    </div>
                    <!--  <label class="fonter" style="font-family:edo; color: white; float:right; margin-right: 10px"><input type="checkbox" id="male" name="gender" value="Male" ng-model="guest.gender"> I agree to the <a href="" ng-click="showModal();"> terms and conditions </a> </input> </label> -->
                </div>
                <br />
                <input type="submit" class="btn btn-primary " type="submit" value="Register" style="display: block; margin: 0 auto; margin-top: 20px; "> </input>
            </form>
        </div>

         <div class="modal fade" id="basicModal-displaytime" tabindex="-1" role="dialog" aria-labelledby="basicModal-displaytime" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content" style="height: 500px">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #3e3e3e; border-top-left-radius: 5px; border-top-right-radius: 5px">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>-->
                        <h4 class="modal-title" id="myModalLabel-displaytime" style="font-family: 'hero'; font-size: 20px; font-weight: 800; color: white; text-align: center">Terms and Conditions</h4>
                    </div>
                    <div class="modal-body" style="padding-top: 30px; height: 360px">
                        <textarea style="font-family: 'hero'; font-size: 18px; color: black; width: 100%; text-align: center; height: 330px" readonly>By registering with this App and providing the information requested, I am agreeing to the use and process of my personal and privileged information by the company and any third party contracted by the company for the technical operation of the App. I further give my full permission to have my personal and privileged information linked with my Facebook account. With my knowledge of the scope and purpose of the App, I am releasing the company, its officers and employees, and any third party contracted by the company for the technical operation of the App, from any liability whatsoever, including but not limited to liabilities under Republic Act 10173, also known as Data Privacy Act of 2012, for the use and process of the personal and privileged information I voluntarily provided in connection with my registration with the App, and any liability in connection with or arising from any activity that may occur or result due to my use of the App. Furthermore, by participating in the activity, I am agreeing to the use of my photos for release, publication, exhibition, reproduction, websites, print materials or any other purpose by the company and its affiliates and representatives.  Thus, I am releasing the company, its officers and employees, and any third party contracted the company from any liability connected with the taking, recording, digitizing or publication of these materials.  I also waive all rights that I may have to any claims for payment or royalties in connection with the any exhibition,  streaming, webcasting, televising, advertising, promoting and other publication of these materials regardless of the purpose or sponsoring of such exhibiting, broadcasting, webcasting or other publication irrespective of whether a fee for admission or sponsorship is charged.
                        </textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="tryagain-displaytime btn btn-default" data-dismiss="modal" style="background-color: #3e3e3e; color: white; font-family:'hero'; font-size: 15px">Back</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="userprofile" tabindex="-1" role="dialog" aria-labelledby="userprofile" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom: 5px; background-color: #3e3e3e; border-top-left-radius: 5px; border-top-right-radius: 5px">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>-->
                        <h4 class="modal-title" id="myModalLabel-displaytime" style="font-family: 'hero'; font-size: 20px; font-weight: 800; color: white; text-align: center">Enter RFID Code</h4>
                    </div>
                    <div class="modal-body" style="padding-top: 30px; font-family: hero; color: #3e3e3e; font-size: 25px">
                        <img src="/img/rfid.jpg" style="width: 100%" /> 
                        <input type="text" style="background-color: #fefefe; border-bottom: 1px solid #3e3e3e; text-align: center; font-size: 30px; font-family: hero; color: #3e3e3e; width: 50%; display:block; margin: 0 auto; margin-top: 50px"></input> 
                        <!-- <h6> *This will associate RFID wristband to guest profile </h6> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="tryagain-displaytime btn btn-default" data-dismiss="modal" style="background-color: #3e3e3e; color: white; font-family:'hero'; font-size: 15px">Submit</button>
                    </div>
            </div>
        </div>
    </div>