    
        <div class="row formContainer">
            <img id="sanmigLogo" src="" style="width:400px"/>
            <br /> <br />
            <a href="javascript:void(0);"><input type="image" id="fbImage" src="images/connectfb.png" ng-click="connectFB();" style="margin-top: -15px" ng-disabled="disableFacebook" /></a>
            <div id="circularGFB" ng-show="facebookLoading" style="display: block; margin: 0 auto; margin-top: -80px">
                <div id="circularGFB_1" class="circularGFB">
                </div>
                <div id="circularGFB_2" class="circularGFB">
                </div>
                <div id="circularGFB_3" class="circularGFB">
                </div>
                <div id="circularGFB_4" class="circularGFB">
                </div>
                <div id="circularGFB_5" class="circularGFB">
                </div>
                <div id="circularGFB_6" class="circularGFB">
                </div>
                <div id="circularGFB_7" class="circularGFB">
                </div>
                <div id="circularGFB_8" class="circularGFB">
                </div>
            </div>
            <form class="formHere" ng-submit="submitRegistrationForm();" style="overflow-y: auto">
                <div class="anotherRow row">
                    <div class="col-sm-6 fonter" ng-show="showFirstName">
                        <!--First Name:--><input type="text" id="firstName" ng-model="guest.firstName" ng-required="showFirstName" ng-disabled="(fbEnabled == false) && (fbRequired == true)" placeholder="First Name">
                        <br />
                    </div>
                     <div class="col-sm-6 fonter" ng-show="showLastName">
                        <!--Last Name:--> <input type="text" id="lastName" ng-model="guest.lastName" ng-required="showLastName" ng-disabled="(fbEnabled == false) && (fbRequired == true)" placeholder="Last Name"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showMiddleName">
                        Middle Name:<input type="text" id="middleName" ng-model="guest.middleName" ng-required="showMiddleName" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br />
                    </div>
                     <div class="col-sm-12 fonter" ng-show="showNickName">
                        Nickname: <input type="text" id="nickName" ng-model="guest.nickName" ng-required="showNickName" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br />
                    </div>
                    <div class="col-sm-6 fonter" ng-show="showbirthDate" >
                        <!--Birthdate:--> <input type="text" id="birthDate" ng-model="guest.birthDate" ng-required="showbirthDate" ng-disabled="(fbEnabled == false) && (fbRequired == true)" data-inputmask="'alias': 'yyyy-mm-dd'" data-mask placeholder="Birthdate"></input> <br />
                    </div>
                    <div class="col-sm-6 fonter" ng-show="showEmail" >
                        <!--Email:--> <input type="email" id="email" ng-model="guest.email" ng-required="showEmail" ng-disabled="(fbEnabled == false) && (fbRequired == true)" placeholder="Email Address"></input> <br />
                    </div>
                    <div class="col-sm-6 fonter" ng-show="showMobileNo">
                        <!--Mobile Number: --><input type="text" id="mobileNo" ng-model="guest.mobileNo" ng-disabled="(fbEnabled == false) && (fbRequired == true)" placeholder="Mobile # (Optional)"></input> <br />
                    </div>
                    <div class="col-sm-6 fonter" ng-show="showGender" style="margin-top: 30px">
                         <!--Gender:-->
                        <label><input type="radio" id="male" name="gender" value="Male" ng-model="guest.gender" ng-required="showGender" ng-disabled="(fbEnabled == false) && (fbRequired == true)"> Male </input> </label>&nbsp; &nbsp; &nbsp; &nbsp;<label><input type="radio" id="female" value="Female" name="gender" ng-model="guest.gender" ng-required="showGender" ng-disabled="(fbEnabled == false) && (fbRequired == true)"> Female </input> </label> <br />
                    </div>
                     <div class="col-sm-6 fonter" ng-show="showCityAddress">
                        <!-- City Address:  -->
                        <input type="text" id="cityAddress" ng-model="guest.cityAddress" ng-required="showCityAddress" ng-disabled="(fbEnabled == false) && (fbRequired == true)" placeholder="City Address"></input> <br />
                    </div> 
                    <div class="col-sm-6 fonter" ng-show="showCityAddress">
                        <!-- City Address:  -->
                        <input style="visibility: hidden" type="text" id="cityAddress" placeholder="City Address"></input> <br />
                    </div> 
                    <div class="col-sm-6 fonter" ng-show="showCityAddress">
                        <!-- City Address:  -->
                        <input style="visibility: hidden"></input> <br />
                    </div> 
                    <div class="col-sm-6 fonter" ng-show="showCityAddress">
                        <!-- City Address:  -->
                        <input style="visibility: hidden" ></input> <br />
                    </div> 
                     <div class="col-sm-12 fonter" ng-show="showTitle">
                        Title: <input type="text" id="title" ng-model="guest.title" ng-required="showTitle" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showProfession">
                        Profession: <input type="text" id="profession" ng-model="guest.profession" ng-required="showProfession" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showCompany">
                        Company: <input type="text" id="company" ng-model="guest.company" ng-required="showCompany" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br /> 
                    </divyes                    <div class="col-sm-12 fonter" ng-show="showEducation">
                        Education:  <br />
                        <select style="font-size: 20px; font-family:hero; padding: 5px;" id="education" ng-model="guest.education" ng-required="showEducation" ng-disabled="(fbEnabled == false) && (fbRequired == true)">
                            <option> Primary </option>
                            <option> Secondary </option>
                            <option> Tertiary </option>
                            <option> Graduate </option>
                            <option> Post Graduate </option>
                        </select> <br />
                    </div>
                    <br />
                    <div class="col-sm-12 fonter" ng-show="showStreetAddress1">
                        Street Address 1: <input type="text" id="streetAddress1" ng-model="guest.streetAddress1" ng-required="showStreetAddress1" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showStreetAddress2">
                        Street Address 2: <input type="text" id="streetAddress2" ng-model="guest.streetAddress2" ng-required="showStreetAddress2" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br />
                    </div>
                   
                    <div class="col-sm-12 fonter" ng-show="showRegionAddress">
                        Region Address: <input type="text" id="regionAddress" ng-model="guest.regionAddress" ng-required="showRegionAddress" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br />
                    </div> 
                    <div class="col-sm-12 fonter" ng-show="showCountry">
                        Country: <input type="text" id="country" ng-model="guest.country" ng-required="showCountry" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br />
                    </div> 
                    <div class="col-sm-12 fonter" ng-show="showZip">
                        Zip Code: <input type="text" id="zip" ng-model="guest.zip" ng-required="showZip" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br />
                    </div> 
                    <div class="col-sm-12 fonter" ng-show="showReligion">
                        Religion: <input type="text" id="religion" ng-model="guest.religion" ng-required="showReligion" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br />
                    </div> 
                    <div class="col-sm-12 fonter" ng-show="showFacebookPage">
                        Facebook Page: <input type="text" id="facebookPage" ng-model="guest.facebookPage" ng-required="showFacebookPage" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br />
                    </div>
                    <div class="col-sm-12 fonter" ng-show="showTwitterHandle">
                        Twitter Handle: <input type="text" id="twitterHandle" ng-model="guest.twitterHandle" ng-required="showTwitterHandle" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input> <br />
                    </div> 
                    <div class="col-sm-12 fonter" ng-show="showInstagramHandle">
                        Instagram Handle: <input type="text" id="instagramHandle" ng-model="guest.instagramHandle" ng-required="showInstagramHandle" ng-disabled="(fbEnabled == false) && (fbRequired == true)"></input>
                    </div>
                    <!-- Yamaha specific -->
                    <!-- <div class="fonter" style="display:block; margin: 0 auto; margin-top: 300px; margin-left: 15px; margin-right: 15px; background-color:rgba(0,0,0,0.7); padding: 20px">
                        Do you want to test ride the New Tricity? <br />
                        <label><input type="radio" id="yes" name="testride" value="Yes" ng-model="guest.testride" ng-required="showGender" ng-disabled="(fbEnabled == false) && (fbRequired == true)"> Yes </input> </label>&nbsp; &nbsp; &nbsp; &nbsp;<label><input type="radio" id="no" value="No" name="testride" ng-model="guest.testride" ng-required="showGender" ng-disabled="(fbEnabled == false) && (fbRequired == true)"> No </input> </label> <br />
                    </div> -->
                     <label class="fonter" style="font-family:'hero'; color: white; font-size: 17px; margin-left: 15px">
                        <input type="checkbox" name="checkthis" required ng-disabled="(fbEnabled == false) && (fbRequired == true)" ng-model="agreement"> I have read and agreed to the <a href="" ng-click="showTermsAndConditionsModal();"> Terms and Conditions. </a> </input> 
                        <!--<br /> &nbsp; &nbsp; You may download a copy of the Terms and Conditions <a href=""> HERE. </a> -->
                     </label>
                </div>
                <input type="submit" class="btn btn-primary " type="submit" value="REGISTER" style="display: block; margin: 0 auto; margin-top: 20px; font-family: 'hero'; color: #ffffff; font-weight: 800; border: 0px; font-size: 25px" ng-disabled="disableSubmit"> </input>
                <div id="circularG" ng-show="submitLoading" style="display: block; margin: 0 auto; margin-top: -45px">
                    <div id="circularG_1" class="circularG">
                    </div>
                    <div id="circularG_2" class="circularG">
                    </div>
                    <div id="circularG_3" class="circularG">
                    </div>
                    <div id="circularG_4" class="circularG">
                    </div>
                    <div id="circularG_5" class="circularG">
                    </div>
                    <div id="circularG_6" class="circularG">
                    </div>
                    <div id="circularG_7" class="circularG">
                    </div>
                    <div id="circularG_8" class="circularG">
                    </div>
                </div>
            </form>
            <div class="formHere" style="border: 0px; margin-top: -5px">
                <img src="images/footer1.png" style="display:block; margin: 0 auto; width: 100%" />
            </div>

            <div class="formHere" style="border: 0px; margin-top: 10px">
                <div class='center text-center'>
                    <label class="fonter" style="font-family:'hero'; color: white; font-size: 17px; margin-left: 15px">
                        <a style='font-size: 19px; color: white;' href='/anonymousRegistration#/{{eventID}}'> Anonymous Registration Link </a>
                    </label>
                </div>
            </div>
                
        </div>
        
        <!-- Terms and Conditions Modal -->
        <div class="modal fade" id="termsAndConditionsModal" tabindex="-1" role="dialog" aria-labelledby="termsAndConditionsModal" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content" style="height: 500px">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #3e3e3e; border-top-left-radius: 5px; border-top-right-radius: 5px">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>-->
                        <h4 class="modal-title" id="myModalLabel-displaytime" style="font-family: 'hero'; font-size: 20px; font-weight: 800; color: white; text-align: center">Consent, Release and Waiver</h4>
                    </div>
                    <div class="modal-body" style="padding-top: 30px; height: 360px">
                        <textarea style="font-family: 'Arial'; font-size: 15px; color: black; width: 100%; text-align: justify; height: 330px; font-weight: 500" readonly>By registering and providing the information requested, I am agreeing to the use and process of my personal and privileged information by Yamaha LMW and any third party contracted by Yamaha LMW for the technical operation of this application. I further give my full permission to have my personal and privileged information linked with my Facebook account. With my knowledge of the scope and purpose of this application, I am releasing Yamaha LMW, its officers and employees, and any third party contracted by Yamaha LMW for the technical operation of this application, from any liability whatsoever, including but not limited to liabilities under Republic Act 10173, also known as Data Privacy Act of 2012, for the use and process of the personal and privileged information I voluntarily provided in connection with my registration with this application, and any liability in connection with or arising from any activity that may occur or result due to my use of this application. Furthermore, registering in this application means that: 

                        1.  I am freely and voluntarily attending and participating in the Yamaha LMW Event (hereinafter referred to as “Activity”) which will be held on January 23 - 24, 2015 in the Mall of Asia Open Grounds in Pasay City; organized by Yamaha;

                        2.  In consideration of my enjoyment and receipt of the benefits resulting from my attendance and participation in the Activity, I voluntarily agree to have my photograph taken during my attendance and participation in the Activity (hereinafter referred to as “photograph”) and freely agree to the use of my name, image and likeness in the photograph by Yamaha and its third party suppliers;

                        3.  Yamaha and its third party suppliers can use, exhibit or release the photograph and use my name, image and likeness in the said photograph for the marketing communications of Yamaha LMW, without limitation as to place, time, use and medium of release;

                        4.  Yamaha and its third party suppliers shall have the right to the titles and interests in the photograph. Accordingly, all the intellectual property created and derived from the photograph shall be solely owned by Yamaha and its third party suppliers, to in perpetuity and without limitation as to place, time, medium and use thereof;

                        5.  Yamaha and its third party suppliers shall not be liable for any unauthorized use, reproduction or adaptations by third parties of the photograph or for any unauthorized posting, use, reproduction and adaptation of the same in MMS messages, internet sites such as but not limited to “You Tube” and other similar media and/or social networking sites. No fee shall be due me for such unauthorized use;

                        6.  Yamaha and its third party suppliers shall not be liable for injury, damage or liabilities that may arise on the occasion of, as an incident to, or in connection with my attendance and participation in the Activity;

                        7.  I am not bound by any written agreement or contract to any person or entity who may restrain me from signing of this Consent, Release and Waiver;

                        8.  I shall hold Yamaha and its third party suppliers free and harmless from any and all claims, suits and actions for damages or liabilities that may be brought about by my attendance and participation in the Activity, my agreeing to the terms of this Consent, Release and Waiver and my compliance with the undertakings specified in this document; and

                        9.  I have read the contents of this Consent, Release and Waiver and hereby certify that I understood and agreed with the contents thereof with due regard to my rights and remedies under existing laws.

                        </textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="tryagain-displaytime btn btn-default" data-dismiss="modal" style="background-color: #3e3e3e; color: white; font-family:'hero'; font-size: 15px">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Enter RFID Modal -->
        <div class="modal fade" id="userprofile" tabindex="-1" role="dialog" aria-labelledby="userprofile" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #3e3e3e; border-top-left-radius: 5px; border-top-right-radius: 5px">
                     <div id="circularGRFID" ng-show="rfidLoading" style="display: block; margin: 0 auto">
                            <div id="circularGRFID_1" class="circularGRFID">
                            </div>
                            <div id="circularGRFID_2" class="circularGRFID">
                            </div>
                            <div id="circularGRFID_3" class="circularGRFID">
                            </div>
                            <div id="circularGRFID_4" class="circularGRFID">
                            </div>
                            <div id="circularGRFID_5" class="circularGRFID">
                            </div>
                            <div id="circularGRFID_6" class="circularGRFID">
                            </div>
                            <div id="circularGRFID_7" class="circularGRFID">
                            </div>
                            <div id="circularGRFID_8" class="circularGRFID">
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="myModalLabel-displaytime" style="font-family: 'hero'; font-size: 20px; font-weight: 800; color: white; text-align: center">Enter RFID Code</h4>
                        </div>
                        <form ng-submit="submitGuestUID();">
                            <div class="modal-body" style="padding-top: 30px; font-family: hero; color: #3e3e3e; font-size: 25px">
                                <img src="/img/rfid.jpg" style="width: 100%" /> 
                                <input autofocus type="text" style="background-color: #fefefe; border-bottom: 1px solid #3e3e3e; text-align: center; font-size: 30px; font-family: hero; color: #3e3e3e; width: 50%; display:block; margin: 0 auto; margin-top: 50px" required ng-model="guest.uID"></input> 
                                <h6 style="color: red; text-align: center" ng-show="showRFIDError"> This RFID is already assigned to a guest.</h6>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="tryagain-displaytime btn btn-default"  style="background-color: #3e3e3e; color: white; font-family:'hero'; font-size: 15px" ng-disabled="disableRFID" value="Submit"></input>
                            </div>
                        </form>
                </div>
            </div>
        </div>

        <!-- Registration Status Modal -->
        <div class="modal fade" id="thankyouprofile" tabindex="-1" role="dialog" aria-labelledby="thankyouprofile" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #3e3e3e; border-top-left-radius: 5px; border-top-right-radius: 5px">
                        <div id="circularGEXIT" ng-show="exitLoading" style="display: block; margin: 0 auto">
                            <div id="circularGEXIT_1" class="circularGEXIT">
                            </div>
                            <div id="circularGEXIT_2" class="circularGEXIT">
                            </div>
                            <div id="circularGEXIT_3" class="circularGEXIT">
                            </div>
                            <div id="circularGEXIT_4" class="circularGEXIT">
                            </div>
                            <div id="circularGEXIT_5" class="circularGEXIT">
                            </div>
                            <div id="circularGEXIT_6" class="circularGEXIT">
                            </div>
                            <div id="circularGEXIT_7" class="circularGEXIT">
                            </div>
                            <div id="circularGEXIT_8" class="circularGEXIT">
                            </div>
                        </div>
                        <button type="button" class="close" ng-click="noThanks();" data-dismiss="modal" ng-disabled="disableExit">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel-displaytime" style="font-family: 'hero'; font-size: 20px; font-weight: 800; color: white; text-align: center">Registration Successful</h4>
                    </div>
                    <div class="modal-body" style="padding-top: 30px; font-family: hero; color: #3e3e3e; font-size: 25px">
                        <h3 style="text-align:center; font-family: hero"> Thank you for signing up! <br /> <!--- Enjoy the Tricity Experience! --> <br /> <br /> 
                            <a href=""> <input type="image" src="/images/sharefb.png" ng-click="shareFB();" ng-show="checkFacebook();" ng-disabled="disableShare"/> </a>
                        </h3> 
                    </div>                        
                </div>
            </div>
        </div>        