body {
	background: url(../img/sample_preregsite.jpg);
	background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-size: cover;
  margin-bottom: 60px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#animateThis {
  display: block !important; margin: 0 auto !important; text-align: center !important; width: 100%;
}

h1 {
	position: fixed; display: block; margin: 0 auto; text-align: center; font-family: Edo; color: #e4ff88; text-shadow:0 0 50px #246111 !important; font-size: 250px; z-index: -1;
}

.hello {
	transform: rotate(-15deg);
}

.turniton {
  display: block;
  margin: 0 auto;
  text-align: center;

}
