div {
    margin: 0;
    padding: 0;
    width: 100%;
}
html, body {
    height:100%;
    overflow: hidden;
}
body {
    font-family: 'Electrolize', Arial, sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #3d3d3d;
    width: 100%;
    background: #eeeeee;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

#congrats {
    width: 720px !important;
}

canvas {
    display: block;
    position: absolute;
    z-index: -1;
}

#picker {
    background-color: #dedede;
}

#maybanklogo {
    padding:0;
    bottom: 0;
    left: 0;
    right: auto;
    margin-left: 300px;
}

#text {
    cursor:pointer;
    overflow:hidden;
    font:40px/1 monospace;

}
#text span {
    display:block;
    float:left;
    background:#444;
    color:#fff;
    margin-right:1px;
}

#header {height:80px;width:100%}
#details {width:100%}
#footer {height:150px;width:100%}
#wrapper {min-height:100%;height:100%;}

#icsheader { height:250px; width:100% }
#icslogo { 
    height:150px; 
    margin-left: 150px;
}

body {
                font-family: Roboto Condensed;
                color: #333;
            }

            .page {
                width: 1000px;
                margin: 30px auto 0;
            }

            h1 {
                text-align: center;
                font-size: 64px;
            }

            .displays {
            }

            .flapper {
                margin-bottom: 2px;
                text-align: center;
            }

            .inputarea {
                margin: 24px 0;
            }

            input.typesomething {
                font-family: Roboto Condensed;
                font-size: 24px;
                width: 500px;
                padding: 14px;
                border: 0;
                background-color: #EEE;
                color: #333;
            }
             body {
                font-family: Roboto Condensed;
                color: #333;
                    background: url(../img/yamaha.jpg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-size: cover;
                overflow-y: hidden;
            }

            .page {
                width: 1000px;
                margin: 30px auto 0;
            }

            h1 {
                text-align: center;
                font-size: 64px;
                font-family: Roboto Condensed
            }

            .displays {
            }

            .flapper {
                margin-bottom: 2px;
                text-align: center;
            }

            .inputarea {
                margin: 24px 0;
            }

            input.typesomething {
                font-family: Roboto Condensed;
                font-size: 24px;
                width: 500px;
                padding: 14px;
                border: 0;
                background-color: #EEE;
                color: #333;
            }