@font-face{
  font-family:hero;
  font-style:normal;
  font-weight:800;
  src:url(../fonts/Hero.otf) format('opentype');
}

@font-face{
  font-family:hero;
  font-style:normal;
  font-weight:400;
  src:url(../fonts/HeroLight.otf) format('opentype');
}

@font-face{
  font-family:outline;
  font-style:normal;
  font-weight:400;
  src:url(../fonts/Goffik-O.ttf) format('truetype');
}

html {
   position: relative;
  min-height: 100%;
}

html,body {
  width: 100%;
  height: 100%;
  color: white;
  font-family: hero; 
}

label {
  font-family: hero;
}

body {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-size: cover;
  margin-bottom: 60px;
  overflow: auto;
}

.footycontainer {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footycontainer .text-muted {
  margin: 20px 0;
  right: 0px;
  /*text-align: right;*/
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /*box-shadow: 0px -2px 5px rgba(50,50,50,0.50);*/
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: transparent;
}

h1 {
  font-size: 20px;
  font-family: hero;
}

h4 {
  font-size: 25px;
  font-family: hero
}

input:disabled {
  background-color: rgba(0,0,0,0.5);
  border-color: transparent;
}

select:disabled {
  background-color: rgba(0,0,0,0.5);
  border-color: transparent;
}

.fonter {
  font-size: 20px;
  font-family: hero;
  margin-top: 20px;
}

.no_margin {
  margin-top: 0px;
}

.termsCont {
  font-family: hero;
}

label {
  font-size: 18px;
  font-family: hero;
  font-weight: 100;
}

.btn {
  /*background-color: transparent;*/
  font-size: 20px;
  font-family: hero;
  /*border: 2px solid white; */
}

input[type="text"], input[type="number"] {
  width: 100%;
  font-family: hero;

  font-weight: 800;
  font-size: 15px;
  background: white;
  padding: 10px;
  /*border: 0px;
  border-bottom: 1px solid;
  border-color: white;
*/  color: #3e3e3e;
  /*text-align: right;*/
}

input[type="email"] {
    width: 100%;
  font-family: hero;
  font-size: 15px;
  background: white;
  padding: 10px;
  font-weight: 800;
  /*border: 0px;
  border-bottom: 1px solid;
  border-color: white;
*/  color: #3e3e3e;
  /*text-align: right;*/
}

input[type="radio"] {
  height: 20px;
  width: 20px;
  font-family: hero;
  font-weight: 800;
}

#sanmigLogo {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 80%;
  margin-top: 0px;
}

#fbImage {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
}

#fbShare {
  display: block;
  margin: 0 auto;
  width: 100%;
}

#textarea {
  width: 90%;
  height: 300px;
  background-color: white;
  color: black;
  padding: 10px;
  overflow-y: auto;
  text-align: justify;
  display: block;
  margin: 0 auto;
  font-family: hero;
  font-size: 18px
}

.defaultContainer {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background: rgba(255,255,255,0.7);
  padding: 10px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.black {
  padding: 10px;
  padding-bottom: 15px;
  background: rgba(255,255,255,0.7);
  border-radius: 10px;
}

.defaultContainer2 {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.secondCol {
  display:block; margin: 0 auto; margin-top: 10px;
}

@media (min-width: 480px) and (max-width: 720px){
  #sanmigLogo {
    width: 50%;
  }
  #fbImage {
    width: 80%;
  }
  .defaultContainer {
    width: 70%;
  }
  .defaultContainer2 {
    width: 70%;
  }
  #fbShare {
    width: 70%;
  }
}

@media (min-width: 721px) and (max-width: 960px){
  #sanmigLogo {
    width: 30%;
  }
  #fbImage {
    width: 60%;
  }
  .formHere {
    width: 80%;
  }
  .defaultContainer {
    width: 50%;
  }
  .defaultContainer2 {
    width: 80%;
  }
  .secondCol {
    margin-top: 0px;
  }
  #fbShare {
    width: 50%;
  }
}

@media (min-width: 961px) and (max-width: 1024px){
  #sanmigLogo {
    width: 50%;
  }
  #fbImage {
    width: 50%;
  }
  .formHere {
    width: 80%;
  }
  .defaultContainer {
    width: 50%;
  }
  .defaultContainer2 {
    width: 80%;
  }
  .secondCol {
    margin-top: 0px;
  }
  #fbShare {
    width: 30%
  }

  .hiblack {
    width: 30%;
  }
}

@media (min-width: 1025px){
  #sanmigLogo {
    width: 30%;
  }
  #fbImage {
    width: 25%;
  }
  .formHere {
    width: 45%;
  }
  .defaultContainer {
    width: 35%
  }
  .defaultContainer2 {
    width: 90%;
  }
  .secondCol {
    margin-top: 0px;
  }
  #fbShare {
    width: 25%;
  }

  .hiblack {
    width: 30%;
  }
}

.anotherRow {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.formHere {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  /*background: rgba(0,0,0,0.5);*/
  border: 1px solid white;
  padding: 10px;
  /*border-radius: 10px;*/
  text-shadow: 1px 1px 5px black;
}

.middle {
  display: block;
  margin: 0 auto;
  text-align: center
}

.formContainer {
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-size: cover;
  /*height: 700px;*/
  /*width: 700px;*/
  border-radius: 10px 10px 10px 10px;
  /*background: rgba(0,0,0,0.8);*/
  display: block;
  margin: 0 auto;
  bottom: 0px;
  margin-top: 20px;
  padding-bottom: 120px;
  padding-right: 20px;
  padding-left: 20px; 
}

#circularGFB{
position:relative;
width:70px;
height:70px}

.circularGFB{
position:absolute;
background-color:#FFFFFF;
width:16px;
height:16px;
-moz-border-radius:11px;
-moz-animation-name:bounce_circularGFB;
-moz-animation-duration:0.8s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:11px;
-webkit-animation-name:bounce_circularGFB;
-webkit-animation-duration:0.8s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:11px;
-ms-animation-name:bounce_circularGFB;
-ms-animation-duration:0.8s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:11px;
-o-animation-name:bounce_circularGFB;
-o-animation-duration:0.8s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:11px;
animation-name:bounce_circularGFB;
animation-duration:0.8s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularGFB_1{
left:0;
top:28px;
-moz-animation-delay:0.3s;
-webkit-animation-delay:0.3s;
-ms-animation-delay:0.3s;
-o-animation-delay:0.3s;
animation-delay:0.3s;
}

#circularGFB_2{
left:7px;
top:7px;
-moz-animation-delay:0.4s;
-webkit-animation-delay:0.4s;
-ms-animation-delay:0.4s;
-o-animation-delay:0.4s;
animation-delay:0.4s;
}

#circularGFB_3{
top:0;
left:28px;
-moz-animation-delay:0.5s;
-webkit-animation-delay:0.5s;
-ms-animation-delay:0.5s;
-o-animation-delay:0.5s;
animation-delay:0.5s;
}

#circularGFB_4{
right:7px;
top:7px;
-moz-animation-delay:0.6s;
-webkit-animation-delay:0.6s;
-ms-animation-delay:0.6s;
-o-animation-delay:0.6s;
animation-delay:0.6s;
}

#circularGFB_5{
right:0;
top:28px;
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#circularGFB_6{
right:7px;
bottom:7px;
-moz-animation-delay:0.8s;
-webkit-animation-delay:0.8s;
-ms-animation-delay:0.8s;
-o-animation-delay:0.8s;
animation-delay:0.8s;
}

#circularGFB_7{
left:28px;
bottom:0;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

#circularGFB_8{
left:7px;
bottom:7px;
-moz-animation-delay:1s;
-webkit-animation-delay:1s;
-ms-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}

@-moz-keyframes bounce_circularGFB{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularGFB{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularGFB{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularGFB{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularGFB{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}

#circularGRFID{
position:relative;
width:30px;
height:30px}

.circularGRFID{
position:absolute;
background-color:#FFFFFF;
width:7px;
height:7px;
-moz-border-radius:5px;
-moz-animation-name:bounce_circularGRFID;
-moz-animation-duration:0.8s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:5px;
-webkit-animation-name:bounce_circularGRFID;
-webkit-animation-duration:0.8s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:5px;
-ms-animation-name:bounce_circularGRFID;
-ms-animation-duration:0.8s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:5px;
-o-animation-name:bounce_circularGRFID;
-o-animation-duration:0.8s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:5px;
animation-name:bounce_circularGRFID;
animation-duration:0.8s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularGRFID_1{
left:0;
top:12px;
-moz-animation-delay:0.3s;
-webkit-animation-delay:0.3s;
-ms-animation-delay:0.3s;
-o-animation-delay:0.3s;
animation-delay:0.3s;
}

#circularGRFID_2{
left:3px;
top:3px;
-moz-animation-delay:0.4s;
-webkit-animation-delay:0.4s;
-ms-animation-delay:0.4s;
-o-animation-delay:0.4s;
animation-delay:0.4s;
}

#circularGRFID_3{
top:0;
left:12px;
-moz-animation-delay:0.5s;
-webkit-animation-delay:0.5s;
-ms-animation-delay:0.5s;
-o-animation-delay:0.5s;
animation-delay:0.5s;
}

#circularGRFID_4{
right:3px;
top:3px;
-moz-animation-delay:0.6s;
-webkit-animation-delay:0.6s;
-ms-animation-delay:0.6s;
-o-animation-delay:0.6s;
animation-delay:0.6s;
}

#circularGRFID_5{
right:0;
top:12px;
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#circularGRFID_6{
right:3px;
bottom:3px;
-moz-animation-delay:0.8s;
-webkit-animation-delay:0.8s;
-ms-animation-delay:0.8s;
-o-animation-delay:0.8s;
animation-delay:0.8s;
}

#circularGRFID_7{
left:12px;
bottom:0;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

#circularGRFID_8{
left:3px;
bottom:3px;
-moz-animation-delay:1s;
-webkit-animation-delay:1s;
-ms-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}

@-moz-keyframes bounce_circularGRFID{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularGRFID{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularGRFID{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularGRFID{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circular{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}

#circularGEXIT{
position:relative;
width:30px;
height:30px}

.circularGEXIT{
position:absolute;
background-color:#FFFFFF;
width:7px;
height:7px;
-moz-border-radius:5px;
-moz-animation-name:bounce_circularGEXIT;
-moz-animation-duration:0.8s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:5px;
-webkit-animation-name:bounce_circularGEXIT;
-webkit-animation-duration:0.8s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:5px;
-ms-animation-name:bounce_circularGEXIT;
-ms-animation-duration:0.8s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:5px;
-o-animation-name:bounce_circularGEXIT;
-o-animation-duration:0.8s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:5px;
animation-name:bounce_circularGEXIT;
animation-duration:0.8s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularGEXIT_1{
left:0;
top:12px;
-moz-animation-delay:0.3s;
-webkit-animation-delay:0.3s;
-ms-animation-delay:0.3s;
-o-animation-delay:0.3s;
animation-delay:0.3s;
}

#circularGEXIT_2{
left:3px;
top:3px;
-moz-animation-delay:0.4s;
-webkit-animation-delay:0.4s;
-ms-animation-delay:0.4s;
-o-animation-delay:0.4s;
animation-delay:0.4s;
}

#circularGEXIT_3{
top:0;
left:12px;
-moz-animation-delay:0.5s;
-webkit-animation-delay:0.5s;
-ms-animation-delay:0.5s;
-o-animation-delay:0.5s;
animation-delay:0.5s;
}

#circularGEXIT_4{
right:3px;
top:3px;
-moz-animation-delay:0.6s;
-webkit-animation-delay:0.6s;
-ms-animation-delay:0.6s;
-o-animation-delay:0.6s;
animation-delay:0.6s;
}

#circularGEXIT_5{
right:0;
top:12px;
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#circularGEXIT_6{
right:3px;
bottom:3px;
-moz-animation-delay:0.8s;
-webkit-animation-delay:0.8s;
-ms-animation-delay:0.8s;
-o-animation-delay:0.8s;
animation-delay:0.8s;
}

#circularGEXIT_7{
left:12px;
bottom:0;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

#circularGEXIT_8{
left:3px;
bottom:3px;
-moz-animation-delay:1s;
-webkit-animation-delay:1s;
-ms-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}

@-moz-keyframes bounce_circularGEXIT{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularGEXIT{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularGEXIT{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularGEXIT{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularGEXIT{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}

#circularG{
position:relative;
width:50px;
height:50px}

.circularG{
position:absolute;
background-color:#FFFFFF;
width:11px;
height:11px;
-moz-border-radius:8px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:0.8s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:8px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:0.8s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:8px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:0.8s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:8px;
-o-animation-name:bounce_circularG;
-o-animation-duration:0.8s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:8px;
animation-name:bounce_circularG;
animation-duration:0.8s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG_1{
left:0;
top:20px;
-moz-animation-delay:0.3s;
-webkit-animation-delay:0.3s;
-ms-animation-delay:0.3s;
-o-animation-delay:0.3s;
animation-delay:0.3s;
}

#circularG_2{
left:5px;
top:5px;
-moz-animation-delay:0.4s;
-webkit-animation-delay:0.4s;
-ms-animation-delay:0.4s;
-o-animation-delay:0.4s;
animation-delay:0.4s;
}

#circularG_3{
top:0;
left:20px;
-moz-animation-delay:0.5s;
-webkit-animation-delay:0.5s;
-ms-animation-delay:0.5s;
-o-animation-delay:0.5s;
animation-delay:0.5s;
}

#circularG_4{
right:5px;
top:5px;
-moz-animation-delay:0.6s;
-webkit-animation-delay:0.6s;
-ms-animation-delay:0.6s;
-o-animation-delay:0.6s;
animation-delay:0.6s;
}

#circularG_5{
right:0;
top:20px;
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#circularG_6{
right:5px;
bottom:5px;
-moz-animation-delay:0.8s;
-webkit-animation-delay:0.8s;
-ms-animation-delay:0.8s;
-o-animation-delay:0.8s;
animation-delay:0.8s;
}

#circularG_7{
left:20px;
bottom:0;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

#circularG_8{
left:5px;
bottom:5px;
-moz-animation-delay:1s;
-webkit-animation-delay:1s;
-ms-animation-delay:1s;
-o-animation-delay:1s;
animation-delay:1s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}

.modal {
    overflow-y: hidden !important;
}