html {
   position: relative;
  min-height: 100%;
}

html,body {
  width: 100%;
  height: 100%;
  color: #e0f984;
  font-family: "Red October"; 
}

label {
  font-family: "Red October";
}

body {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-size: cover;
  margin-bottom: 60px;
  overflow: auto;
}

.footycontainer {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footycontainer .text-muted {
  margin: 20px 0;
  right: 0px;
  /*text-align: right;*/
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -2px 5px rgba(50,50,50,0.50);
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

h1 {
  font-size: 20px;
  font-family: "Red October";
}

h4 {
  font-size: 25px;
  font-family: "Red October"
}

input:disabled {
  background-color: rgba(0,0,0,0.5);
  border-color: transparent;
}

select:disabled {
  background-color: rgba(0,0,0,0.5);
  border-color: transparent;
}

.fonter {
  font-size: 20px;
  font-family: "Red October";
  margin-top: 20px;
}

.termsCont {
  font-family: "Red October";
}

label {
  font-size: 18px;
}

.btn {
  background-color: transparent;
  font-size: 40px;
  font-family: edo;
  border: 2px solid white; 
  color: #e0f984;
}

input[type="text"], input[type="number"] {
  width: 100%;
  font-family: edo;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid;
  border-color: white;
  color: white;
  text-align: right;
}

input[type="email"] {
  width: 100%;
  font-family: edo;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid;
  border-color: white;
}

input[type="radio"] {
  height: 20px;
  width: 20px;
  font-family: edo
}

@font-face{
  font-family:"Red October";
  font-style:normal;
  font-weight:400;
  src:url(../fonts/Hero.otf) format('opentype');
}

@font-face{
  font-family:"Red October";
  font-style:normal;
  font-weight:400;
  src:url(../fonts/HeroLight.otf) format('opentype');
}

@font-face{
  font-family:outline;
  font-style:normal;
  font-weight:400;
  src:url(../fonts/Goffik-O.ttf) format('truetype');
}

#sanmigLogo {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 80%;
  margin-top: 0px;
}

#fbImage {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
}

#fbShare {
  display: block;
  margin: 0 auto;
  width: 100%;
}

#textarea {
  width: 90%;
  height: 300px;
  background-color: white;
  color: black;
  padding: 10px;
  overflow-y: auto;
  text-align: justify;
  display: block;
  margin: 0 auto;
  font-family: "Red October";
  font-size: 18px
}

.defaultContainer {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background: rgba(255,255,255,0.7);
  padding: 10px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.black {
  padding: 10px;
  padding-bottom: 15px;
  background: rgba(255,255,255,0.7);
  border-radius: 10px;
}

.defaultContainer2 {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.secondCol {
  display:block; margin: 0 auto; margin-top: 10px;
}

@media (min-width: 480px) and (max-width: 720px){
  #sanmigLogo {
    width: 50%;
  }
  #fbImage {
    width: 80%;
  }
  .defaultContainer {
    width: 70%;
  }
  .defaultContainer2 {
    width: 70%;
  }
  #fbShare {
    width: 70%;
  }
}

@media (min-width: 721px) and (max-width: 960px){
  #sanmigLogo {
    width: 30%;
  }
  #fbImage {
    width: 60%;
  }
  #formHere {
    width: 80%;
  }
  .defaultContainer {
    width: 50%;
  }
  .defaultContainer2 {
    width: 80%;
  }
  .secondCol {
    margin-top: 0px;
  }
  #fbShare {
    width: 50%;
  }
}

@media (min-width: 961px) and (max-width: 1024px){
  #sanmigLogo {
    width: 30%;
  }
  #fbImage {
    width: 50%;
  }
  #formHere {
    width: 80%;
  }
  .defaultContainer {
    width: 50%;
  }
  .defaultContainer2 {
    width: 80%;
  }
  .secondCol {
    margin-top: 0px;
  }
  #fbShare {
    width: 30%
  }

  .hiblack {
    width: 30%;
  }
}

@media (min-width: 1025px){
  #sanmigLogo {
    width: 17%;
  }
  #fbImage {
    width: 25%;
  }
  #formHere {
    width: 45%;
  }
  .defaultContainer {
    width: 35%
  }
  .defaultContainer2 {
    width: 90%;
  }
  .secondCol {
    margin-top: 0px;
  }
  #fbShare {
    width: 25%;
  }

  .hiblack {
    width: 30%;
  }
}

.anotherRow {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#formHere {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  /*background: rgba(255,255,255,0.7);*/
  padding: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 5px black;
}

.middle {
  display: block;
  margin: 0 auto;
  text-align: center
}

.formContainer {
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-size: cover;
  /*height: 700px;*/
  /*width: 700px;*/
  border-radius: 10px 10px 10px 10px;
  /*background: rgba(0,0,0,0.8);*/
  display: block;
  margin: 0 auto;
  bottom: 0px;
  margin-top: 20px;
  padding-bottom: 120px;
  padding-right: 20px;
  padding-left: 20px; 
}

#circularG {
  position:relative;
  width:300px;
  height:300px;
  display: block;
  margin: 0 auto;
  margin-top: -520px;
}

@media (min-width: 760px){
  #circularG {
    margin-top: -350px;
  }
}

.circularG {
  position:absolute;
  background-color:#FFFFFF;
  width:68px;
  height:68px;
  -moz-border-radius:45px;
  -moz-animation-name:bounce_circularG;
  -moz-animation-duration:0.88s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -webkit-border-radius:45px;
  -webkit-animation-name:bounce_circularG;
  -webkit-animation-duration:0.88s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -ms-border-radius:45px;
  -ms-animation-name:bounce_circularG;
  -ms-animation-duration:0.88s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -o-border-radius:45px;
  -o-animation-name:bounce_circularG;
  -o-animation-duration:0.88s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  border-radius:45px;
  animation-name:bounce_circularG;
  animation-duration:0.88s;
  animation-iteration-count:infinite;
  animation-direction:linear;
}

#circularG_1{
  left:0;
  top:118px;
  -moz-animation-delay:0.33s;
  -webkit-animation-delay:0.33s;
  -ms-animation-delay:0.33s;
  -o-animation-delay:0.33s;
  animation-delay:0.33s;
}

#circularG_2{
  left:32px;
  top:32px;
  -moz-animation-delay:0.44s;
  -webkit-animation-delay:0.44s;
  -ms-animation-delay:0.44s;
  -o-animation-delay:0.44s;
  animation-delay:0.44s;
}

#circularG_3{
  top:0;
  left:118px;
  -moz-animation-delay:0.55s;
  -webkit-animation-delay:0.55s;
  -ms-animation-delay:0.55s;
  -o-animation-delay:0.55s;
  animation-delay:0.55s;
}

#circularG_4{
  right:32px;
  top:32px;
  -moz-animation-delay:0.66s;
  -webkit-animation-delay:0.66s;
  -ms-animation-delay:0.66s;
  -o-animation-delay:0.66s;
  animation-delay:0.66s;
}

#circularG_5{
  right:0;
  top:118px;
  -moz-animation-delay:0.77s;
  -webkit-animation-delay:0.77s;
  -ms-animation-delay:0.77s;
  -o-animation-delay:0.77s;
  animation-delay:0.77s;
}

#circularG_6{
  right:32px;
  bottom:32px;
  -moz-animation-delay:0.88s;
  -webkit-animation-delay:0.88s;
  -ms-animation-delay:0.88s;
  -o-animation-delay:0.88s;
  animation-delay:0.88s;
}

#circularG_7{
  left:118px;
  bottom:0;
  -moz-animation-delay:0.99s;
  -webkit-animation-delay:0.99s;
  -ms-animation-delay:0.99s;
  -o-animation-delay:0.99s;
  animation-delay:0.99s;
}

#circularG_8{
  left:32px;
  bottom:32px;
  -moz-animation-delay:1.1s;
  -webkit-animation-delay:1.1s;
  -ms-animation-delay:1.1s;
  -o-animation-delay:1.1s;
  animation-delay:1.1s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

} 

.modal {
    overflow-y: hidden !important;
}