/*Reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
ol,ul {
	list-style:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
/*Reset*/

/*Global*/
html, body {
	height:100%;
}
body {
	font-family: 'Trebuchet MS';
	font-weight: 400;
	font-size: 15px;
	color: #3d3d3d;
	width: 100%;
	margin-left: 0%;
	background: url(../img/sample_preregsite.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    overflow-y: hidden;
	overflow-x: hidden;
}
/*#reader {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;	
   border: 1px solid white;
}*/
a.print {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #3d3d3d;
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-size: 2em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px #fff, 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px #fff, 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px #666, 0px 9px 25px rgba(0,0,0,.7);
    /*margin: 0 auto;*/
	width: 120px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}
a.print:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
/*Global*/

/*Header*/
#header{
	position: absolute;
	z-index: 2000;
	width: 235px;
	top: 130px;
}
#header h1{
	font-size: 30px;
	font-family: 'Trebuchet MS';
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	padding: 20px;
	background: #000;
}
#navigation {
	margin-top: 20px;
	width: 50px;
	display:block;
	list-style:none;
	z-index:3;
}
#navigation a{
	color: #444;
	display: block;
	background: rgba(255, 201, 13, 0.7);
	/*background: rgba(255,255,255,0.9);*/
	line-height: 50px;
	padding: 0px 20px;
	text-transform: uppercase;
	margin-bottom: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 14px;
}
#navigation a:hover {
	background: #ddd;
}
/*Header*/

/*Content*/
.content{
	right: 0px;
	left: 95px;
	top: 0px;
	position: absolute;
	padding-bottom: 30px;
}
.content h2{
	font-size: 40px;
	font-family: 'Trebuchet MS';
	padding: 10px 0px 0px 0px;
	margin-top: 52px;
	color: #3d3d3d;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content p{
	font-size: 18px;
	padding: 10px;
	line-height: 24px;
	color: #3d3d3d;
	display: inline-block;
	/*background: #666;*/
	padding: 10px;
	margin: 3px 0px;
}
.confirmParticipant {
	background: rgba(0,0,0,0.7);
}
.space {
	background: transparent;
}
.panel{
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: #000;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.panel:target{
	margin-left: 0%;
	background: url(../img/sample_preregsite.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    overflow-y: hidden;
	overflow-x: hidden;
	/*background-size: 100%;*/
	/*background-color: #e5e5e5;*/
}
/*Content*/

/*QR Code*/
#reader {
	margin-top: 40px;
	height:300px; 
	width: 85%;
}
.inputforms {
	margin-top: 30px;
}
.form {
	color: white;
	font-size: 32px;
	position: absolute;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	margin-left: 40px;
}
.form p {
	font-size: 32px;	
	font-family: 'Trebuchet MS';
}
.form input {
	margin-top: 10px;
}
.print {
	margin: 0 auto;
	margin-top: 20px;
	width: 150px;
	font-size: 30px;
}
.register {
	font-size: 30px;
}
.btn {
	margin-top: -10px;
	width: 100px;
}
.btn-oldstyle {
	/*background-color: #dedede;*/
	/*border-color: #3d3d3d;*/
	color: #fefefe;
	/*text-shadow: 0 2px 0 rgba(0,0,0,0.9);*/
	background-color: #019dda;
	/*background-image: -moz-linear-gradient(top, #ffc90d, #F7DB76);
	background-image: -webkit-gradient(linear, 0 0, 0 100%. from(#ffc90d), to(#F7DB76));
	background-image: -webkit-linear-gradient(top, #ffc90d, #F7DB76);
	background-image: linear-gradient(to bottom, #ffc90d, #F7DB76);*/
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc90d', endColorstr='#ffF7DB76', GradientType=0);
	border: 3px solid white;
	/*border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*/
	/*background: url(../images/bg_btn.png);*/
} 
.btn-oldstyle:hover, .btn-oldstyle:focus {
	text-decoration: none;
	color: #fff;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
.btn-oldstyle:hover, .btn-oldstyle:focus {
	background-color: #f7db76;
}
.searchTree {
	/*background-color: #666;*/
	margin-top: 20px;
	margin-left:-50px;
	width: 480px;
	height: 620px;
	overflow: auto;     
	background: transparent;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
}
.searchTree p {
	color: #fff;
	font-size: 25px;
}

span.tag {
	color:black;
}

.header {
	margin-top: 30px;
	margin-left: -300px;
	box-shadow: 10px;
}

/*::-webkit-scrollbar {
	display: none;
}*/

.inputreg {
	margin-top: -20px;
}

.regclassIn {
	margin-top:20px;
	background: #3d3d3d;
	color: white;
	padding: 10px;
	padding-bottom: 20px;
	border-radius: 10px;
}
.regclassCo {
	background: rgba(61,61,61,0.8);
	color: white;
	padding: 10px;
	padding-bottom: 20px;
	width: 600px;
	border-radius: 10px;
}
.input-trans {
	background: rgba(255,255,255,0.5);
	width: 500px;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

