<div class="add user view">
    <div class="container">

        <br>
        <br>
        <br>
        
        <div>
            <div class="container" id="userDetailsContainer">
                <div class="row" id="userDetails">
                    <div id="userDetailsHeader">New Admin User Details</div>
                    <div id="userDetailsBody">
                    	<div class="container">
							<form class="form-horizontal" role="form" >
								<div class="form-group">
									<br>
									<label for="name" class="col-sm-3 control-label"><font size="4">Name</font></label>
									<div class="col-sm-3">
										<input type="text" name="name" class="form-control" id="name" placeholder="name" ng-model="newUser.name">
									</div>
								</div>
								<div class="form-group">
									<br>
									<label for="email" class="col-sm-3 control-label"><font size="4">Email</font></label>
									<div class="col-sm-3">
										<input type="text" name="email" class="form-control" id="email" placeholder="email" ng-model="newUser.email">
									</div>
								</div>
								<br>
								<div class="form-group">
								    <div class="col-sm-offset-7">
								      	<button class="btn btn-info btn-md" ng-click="registerUser()">Add New User</button>
								    </div>
								</div>
							</form>
						</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>