<div class="Event Details view" >
    <div class="container">
        
        <br>
        <br>
        <br>
        
        <div class="container" id="userDetailsContainer">
            <div class="row" id="userDetails">
                <div id="userDetailsHeader">Event Details</div>
                <div id="userDetailsBody">
                    <div id="userDetailBodyText">
                    	<br>
                        <h4> Event Name : {{ Event.eventName }} </h4>
                        <h4> Event Date : {{ Event.eventDate | date:'MMM dd, yyyy'}} </h4>
                        <h4> Event Location : {{ Event.eventLocation }} </h4>
                        <h4> Event Notes : {{ Event.eventNotes }} </h4>
                        <h4> 
                            Event Organizer : 
                            <a href="#/organizers/{{Event.organizer._id}}">
                                {{ Event.organizer.company }} </h4>
                            </a>
                        <h4> 
                            <a href="#/events/{{Event._id}}/exhibitors">
                                See full list of exhibitors
                            </a>
                        </h4>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class="container" id="userDetailsContainer">
            <div class="row" id="userDetails">
                <div id="userDetailsHeader">Edit Event</div>
                <div id="userDetailsBody">
                    <div id="userDetailBodyText">
                        <br>
                        <div class="form-group">
                            <br>
                            <label for="exhibitor" class="col-sm-2 control-label"><font size="4">Exhibitor</font></label>
                            <div class="col-sm-3">
                                <input type="text" name="exhibitor" class="form-control" id="exhibitor" placeholder="exhibitor company" ng-model="newExhibitor">
                            </div>
                            <button class="btn btn-info btn-md" ng-click="addNewEventExhibitor()">Add Exhibitor</button>
                        </div>

                    </div>
                    <br>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

    </div>
</div>