<div class="Event Exhibitor view" >
    <div class="container">
        
        <br>
        <br>
        <br>
        
        <div class="container" id="userDetailsContainer">
            <div class="row" id="userDetails">
                <div id="userDetailsHeader">{{ Event.eventName }} Exhibitor List</div>
                <div id="userDetailsBody">
                    <div id="userDetailBodyText">
                        <br>
                        <br>
                        <table class="table table-hover table-striped table-condensed table-bordered" id="userDetailsTable">
                            <thead>
                                <tr>
                                    <th data-ng-click="setOrder('company')" >Company Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="exhibitor in eventExhibitors | orderBy:orderby:reverse">
                                    <td>
                                        <a href="#/exhibitors/{{exhibitor._id}}">
                                        {{ exhibitor.company }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

    </div>
</div>