<div class="Events view" >
    <div class="container">
        
        <br>
        <br>
        <br>
        
        <div class="container" id="userDetailsContainer">
            <div class="row" id="userDetails">
                <div id="userDetailsHeader">Events List</div>
                <div id="userDetailsBody">
                    <div id="userDetailBodyText">
                    	<br>
                    	<br>
                        <table class="table table-hover table-striped table-condensed table-bordered" id="userDetailsTable">
                        	<thead>
        						<tr>
            						<th data-ng-click="setOrder('eventName')" >Event </th>
           		 					<th data-ng-click="setOrder('eventDate')" >Date</th>
           		 					<th data-ng-click="setOrder('eventLocation')" >Location</th>
        						</tr>
    						</thead>
    						<tbody>
    							<tr data-ng-repeat="event in allEvents | orderBy:orderby:reverse">
            						<td>
            							<a href="#/events/{{event._id}}">
                						{{ event.eventName }}
            						</td>
            						<td>
                						{{ event.eventDate | date:'MMM dd, yyyy' }}
            						</td>
            						<td>
                						{{ event.eventLocation }}
            						</td>
        						</tr>
    						</tbody>
                        </table>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div>
            <div class="container" id="userDetailsContainer">
                <div class="row" id="userDetails">
                    <div id="userDetailsHeader">Add New Event</div>
                    <div id="userDetailsBody">
                    	<div class="container">
							<form class="form-horizontal" role="form" >
								<div class="form-group">
									<br>
									<label for="organizer" class="col-sm-3 control-label"><font size="4">Event Organizer</font></label>
									<div class="col-sm-3">
										<input type="text" name="organizer" class="form-control" id="organizer" placeholder="organizer company" ng-model="newEvent.organizer">
									</div>
								</div>
								<div class="form-group">
									<br>
									<label for="name" class="col-sm-3 control-label"><font size="4">Event Name</font></label>
									<div class="col-sm-3">
										<input type="text" name="name" class="form-control" id="name" placeholder="name" ng-model="newEvent.name">
									</div>
								</div>
								<div class="form-group">
									<br>
									<label for="email" class="col-sm-3 control-label"><font size="4">Event Date</font></label>
									<div class="col-sm-3">
										<input type="text" name="date" class="form-control" id="date" placeholder="mmm dd yyyy" ng-model="newEvent.date">
									</div>
									<div>
									</div>
								</div>
								<div class="form-group">
									<br>
									<label for="location" class="col-sm-3 control-label"><font size="4">Event Location</font></label>
									<div class="col-sm-3">
										<input type="text" name="location" class="form-control" id="location" placeholder="location" ng-model="newEvent.location">
									</div>
								</div>
								<div class="form-group">
									<br>
									<label for="notes" class="col-sm-3 control-label"><font size="4">Event Notes</font></label>
									<div class="col-sm-3">
										<input type="text" name="notes" class="form-control" id="notes" placeholder="notes" ng-model="newEvent.notes">
									</div>
								</div>
								<br>
								<div class="form-group">
								    <div class="col-sm-offset-7">
								      	<button class="btn btn-info btn-md" ng-click="addNewEvent()">Register</button>
								    </div>
								</div>
							</form>
						</div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

    </div>
</div>