<div class="Organizer view" >
    <div class="container">
        
        <br>
        <br>
        <br>
        
        <div class="container" id="userDetailsContainer">
            <div class="row" id="userDetails">
                <div id="userDetailsHeader">Organizer List</div>
                <div id="userDetailsBody">
                    <div id="userDetailBodyText">
                    	<br>
                    	<br>
                        <table class="table table-hover table-striped table-condensed table-bordered" id="userDetailsTable">
                        	<thead>
        						<tr>
            						<th data-ng-click="setOrder('info.company')" >Company Name</th>
           		 					<th data-ng-click="setOrder('email')" >Contact email</th>
        						</tr>
    						</thead>
    						<tbody>
    							<tr data-ng-repeat="organizer in allOrganizers | orderBy:orderby:reverse">
            						<td>
            							<a href="#/organizers/{{organizer._id}}">
                						{{ organizer.info.company }}
            						</td>
            						<td>
                						{{ organizer.email }}
            						</td>
        						</tr>
    						</tbody>
                        </table>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div>
            <div class="container" id="userDetailsContainer">
                <div class="row" id="userDetails">
                    <div id="userDetailsHeader">Add New Organizer</div>
                    <div id="userDetailsBody">
                    	<div class="container">
							<form class="form-horizontal" role="form" >
								<div class="form-group">
									<br>
									<label for="company" class="col-sm-3 control-label"><font size="4">Company</font></label>
									<div class="col-sm-3">
										<input type="text" name="company" class="form-control" id="company" placeholder="Company" ng-model="newOrganizer.company">
									</div>
								</div>
								<div class="form-group">
									<br>
									<label for="email" class="col-sm-3 control-label"><font size="4">Email</font></label>
									<div class="col-sm-3">
										<input type="text" name="email" class="form-control" id="email" placeholder="email" ng-model="newOrganizer.email">
									</div>
								</div>
								<br>
								<div class="form-group">
								    <div class="col-sm-offset-7">
								      	<button class="btn btn-info btn-md" ng-click="addNewOrganizer()">Register</button>
								    </div>
								</div>
							</form>
						</div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

    </div>
</div>