<div class="profile view" >
    <div class="container">
        
        <div class="container" id="profileGreeting">
          <h2>Hello {{ User.info.name }} !</h2>
        </div>
        
        <div>
            <div class="container" id="userDetailsContainer">
                <div class="row" id="userDetails">
                    <div id="userDetailsHeader">User Details</div>
                    <div id="userDetailsBody">
                        <div id="userDetailBodyText">
                    	   <h4> Email: {{ User.email }} </h4>
                        </div>
                        <div id="userDetailBodyText">
                    	   <h4> Access Type: {{ User.accessType }}</h4>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="userDetailsContainer">
                <div class="row" id="userDetails">
                    <div id="userDetailsHeader">Change Email</div>
                    <div id="userDetailsBody">
                        <div id="userDetailBodyText">
                           <div class="form-group">
                                <label for="newEmail" class="col-sm-3 control-label"><font size="4">New Email</font></label>
                                <div class="col-sm-3">
                                    <input type="text" name="newEmail" class="form-control" id="newEmail" placeholder="new email" ng-model="User.newEmail">
                                </div>
                            </div>
                        </div>
                        <div id="userDetailBodyText">   
                           <button class="btn btn-info btn-md" ng-click="changeEmail()"> Change Email </button>
                        </div>
                        <br>
                    </div>
                </div>
        </div>

        <div class="container" id="userDetailsContainer">
                <div class="row" id="userDetails">
                    <div id="userDetailsHeader">Change Password</div>
                    <div id="userDetailsBody">
                        <div id="userDetailBodyText">
                           <br>
                           <div class="row">
                                <div>
                                    <label for="newPassword" class="col-sm-3 control-label"><font size="4">New Password</font></label>
                                    <div class="col-sm-3">
                                        <input type="text" name="newPassword" class="form-control" id="newPassword" placeholder="new password" ng-model="User.newPassword">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>    
                        <div id="userDetailBodyText">
                            <div class="row">
                                <div>
                                    <label for="newPasswordConfirm" class="col-sm-3 control-label"><font size="4">Re-type Password</font></label>
                                    <div class="col-sm-3">
                                        <input type="text" name="newPasswordConfirm" class="form-control" id="newPasswordConfirm" placeholder="re-type password" ng-model="User.newPasswordConfirm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div id="userDetailBodyText">   
                           <button class="btn btn-info btn-md" ng-click="changePassword()"> Change Password </button>
                        </div>
                        <br>
                    </div>
                </div>
        </div>
        
    </div>
</div>