<div>
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
              <ul class="nav navbar-nav" >
                <li><a href="#" style="font-size: 20px; font-family: bebas">Dashboard</a></li>
                <li><a href="#guests" style="font-size: 20px; font-family: bebas">Guests</a></li>
                <li class="active"><a href="#engagements" style="font-size: 20px; font-family: bebas">Booth Engagements</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Booth Engagements List View
                <small>Updated view of booth engagements</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">View Booth Engagements</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-6">
                    <a href="#" onclick="return ExcellentExport.csv(this, 'exampleHidden2');" download="AllEventEngagements.csv"><button type="button" class="btn btn-primary bnt-s" style="width:180px;"><i class="fa fa-file-text"></i> Export Table to CSV</button></a>
                    <a href="#" onclick="return ExcellentExport.excel(this, 'exampleHidden2', 'All Event Engagements');" download="AlleventEngagements.xls"><button type="button" class="btn btn-primary btn-s" style="width: 180px;"><i class="fa fa-file-excel-o"></i> Export Table to Excel</button></a>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12'>                    
                    <div class="row" ng-show="loadingEngagements">
                      <div class="col-xs-12">
                          <div class="alert alert-info">
                              <i class="fa fa-2x fa-spinner fa-spin"></i> &nbsp; <strong>Loading engagements...</strong> Please wait while data is being loaded
                          </div>
                      </div>
                    </div>
                    

                    <div class="adv-table" ng-hide="loadingEngagements">
                        <table datatable="ng" dt-options="dtOptions" class="display table table-bordered table-striped" id="example">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in tableHeaders" generate-datatable>{{header}}</th>
                                    <th ng-repeat="header2 in dynamicTableHeaders" generate-datatable>{{header2}}</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="eventEngagement in uniqueUIDDetails">
                                    <td ng-repeat="fieldData in eventEngagement">{{fieldData}}</td>
                                </tr>
                            </tbody>
                            
                            <tfoot>
                                <tr>
                                    <th ng-repeat="header in tableHeaders" generate-datatable>{{header}}</th>
                                    <th ng-repeat="header2 in dynamicTableHeaders" generate-datatable>{{header2}}</th>
                            </tfoot>
                        </table>

                        <table class="display table table-bordered table-striped" ng-show="false" id="exampleHidden2">
                            <tr>
                                <th ng-repeat="header in tableHeaders" generate-datatable>{{header}}</th>
                                <th ng-repeat="header2 in dynamicTableHeaders" generate-datatable>{{header2}}</th>
                            </tr>

                            <tr ng-repeat="eventEngagement in uniqueUIDDetails">
                                <td ng-repeat="fieldData in eventEngagement">{{fieldData}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </aside><!-- /.right-side -->

</div>