<div>
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
              <ul class="nav navbar-nav" >
                <li><a href="#" style="font-size: 20px; font-family: bebas">Dashboard</a></li>
                <li class="active"><a href="#guests" style="font-size: 20px; font-family: bebas">Guests</a></li>
                <li><a href="#engagements" style="font-size: 20px; font-family: bebas">Booth Engagements</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Guest List View
                <small>Updated view of registered guests</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">View Guest List</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-6">
                    <a href="#" onclick="return ExcellentExport.csv(this, 'exampleHidden');" download="AllEventGuests.csv"><button type="button" class="btn btn-primary bnt-s" style="width:180px;"><i class="fa fa-file-text"></i> Export Table to CSV</button></a>
                    <a href="#" onclick="return ExcellentExport.excel(this, 'exampleHidden', 'All Event Guests');" download="AllEventGuests.xls"><button type="button" class="btn btn-primary btn-s" style="width: 180px;"><i class="fa fa-file-excel-o"></i> Export Table to Excel</button></a>
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12'>                    
                    <div class="row" ng-show="loadingGuests">
                      <div class="col-xs-12">
                          <div class="alert alert-info">
                              <i class="fa fa-2x fa-spinner fa-spin"></i> &nbsp; <strong>Loading guests...</strong> Please wait while data is being loaded
                          </div>
                      </div>
                    </div>
                    

                    <div class="adv-table" ng-hide="loadingGuests">
                    <!--<div class="adv-table">-->
                      <table datatable="ng" dt-options="dtOptions" class="display table table-bordered table-striped" id="example">
                        <thead>
                            <tr>
                                <th>Guest ID</th>
                                <th>RFID</th>
                                <th>Full Name</th>
                                <th>Gender</th>
                                <th>Type</th>
                                <th>Present</th>
                                <th>Email</th>
                                <th>Time Registered</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="eventGuest in eventGuests">
                                <td>{{eventGuest.id}}</td>
                                <td>{{eventGuest.uID}}</td>
                                <td ng-click='showGuestProfile(eventGuest.id);'><a href="">{{eventGuest.firstName + ' ' + eventGuest.lastName}}</a></td>
                                <td>{{eventGuest.gender}}</td>
                                <td>{{eventGuest.type}}</td>
                                <td>{{eventGuest.isPresent}}</td>
                                <td>{{eventGuest.email}}</td>
                                <td>{{ eventGuest.timeRegistered | unixTimeToTimeString }}</td>
                            </tr>
                        </tbody>
                        
                        <tfoot>
                            <tr>
                                <th>Guest ID</th>
                                <th>RFID</th>
                                <th>Full Name</th>
                                <th>Gender</th>
                                <th>Type</th>
                                <th>Present</th>
                                <th>Email</th>
                                <th>Time Registered</th>
                            </tr>
                        </tfoot>
                      </table>

                      <table class="display table table-bordered table-striped" ng-show="false" id="exampleHidden">
                        <tr>
                            <th>Guest ID</th>
                            <th>RFID</th>
                            <th>Full Name</th>
                            <th>Gender</th>
                            <th>Birthday</th>
                            <th>Mobile No.</th>
                            <th>Email</th>
                            <th>Time Registered</th>
                            <th>Type</th>
                            <th>Present</th>
                            <th>Time Present</th>
                        </tr>

                        <tr ng-repeat="eventGuest in eventGuests">
                            <td>{{eventGuest.id}}</td>
                            <td>{{eventGuest.uID}}</td>
                            <td ng-click='showGuestProfile(eventGuest.id);'><a href="">{{eventGuest.firstName + ' ' + eventGuest.lastName}}</a></td>
                            <td>{{eventGuest.gender}}</td>
                            <td>{{eventGuest.birthDate}}</td>
                            <td>{{eventGuest.mobileNo}}</td>
                            <td>{{eventGuest.email}}</td>
                            <td>{{eventGuest.timeRegistered | unixTimeToTimeString}}</td>
                            <td>{{eventGuest.type}}</td>
                            <td>{{eventGuest.isPresent}}</td>
                            <td>{{eventGuest.timePresent | unixTimeToTimeString}}</td>
                        </tr>
                      </table>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </aside><!-- /.right-side -->


    <!-- edit guest details -->
    <div class="modal fade" id="guestdetails" tabindex="-1" role="dialog" aria-labelledby="guestdetails" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                    <h4 class="modal-title" ng-show='editGuestProfileMode' id="guestdetails" style="font-size: 20px; font-weight: 800; color: white">Edit Guest Details</h4>
                    <h4 class="modal-title" ng-hide='editGuestProfileMode' id="guestdetails" style="font-size: 20px; font-weight: 800; color: white">Guest Details</h4>
                </div>

                <form role="form" ng-submit="editGuestDetails(guestToEdit);">
                    <div class="modal-body" style="padding-top: 30px">
                        <div ng-show='editGuestProfileMode'>
                            <div class="form-group">
                                <label>First Name:</label>
                                  <input type="text" ng-disabled class="form-control" ng-model="guestToEdit.firstName" required/>
                            </div>
                            <div class="form-group">
                                <label>Last Name:</label>
                                  <input type="text" ng-disabled class="form-control" ng-model="guestToEdit.lastName" required/>
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                  <input type="email" ng-disabled class="form-control" ng-model="guestToEdit.email" required/>
                            </div>
                            <div class="form-group">
                                <label>RFID:</label>
                                  <input type="text" ng-disabled class="form-control" ng-model="guestToEdit.uID"/>
                            </div>
                        </div>
                        <div ng-hide='editGuestProfileMode'>
                            <div class="form-group">
                                <h5> <span style="font-weight:800"> First Name: </span> &nbsp;&nbsp; {{guestToEdit.firstName}}</h5>
                            </div>
                            <div class="form-group">
                                <h5> <span style="font-weight:800"> Last Name: </span> &nbsp;&nbsp; {{guestToEdit.lastName}}</h5>
                            </div>
                            <div class="form-group">
                                <h5> <span style="font-weight:800"> Email: </span> &nbsp;&nbsp; {{guestToEdit.email}}</h5>
                            </div>
                            <div class="form-group">
                                <h5> <span style="font-weight:800"> RFID: </span> &nbsp;&nbsp; {{guestToEdit.uID}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div ng-show='editGuestProfileMode'>
                            <input type="submit" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" value="Submit"/>
                            <button type="button" class="btn btn-default" style="background-color: #666; color: white; font-size: 15px" ng-click="hideGuestProfile();">Cancel</button>
                        </div>
                        <div ng-hide='editGuestProfileMode'>
                            <button type="button" class="btn btn-default" style="background-color: #666; color: white; font-size: 15px" ng-click="toggleEditGuestProfileMode();">Edit</button>
                            <button type="button" class="btn btn-default" style="background-color: #666; color: white; font-size: 15px" ng-click="hideGuestProfile();">Close</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>