            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                      <ul class="nav navbar-nav" >
                        <li class="active"><a href="#" style="font-size: 20px; font-family: bebas">Dashboard</a></li>
                        <li><a href="#guests" style="font-size: 20px; font-family: bebas">Guests</a></li>
                        <li><a href="#engagements" style="font-size: 20px; font-family: bebas">Booth Engagements</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel for Admin Users</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content-header">
                    <h2 style="margin-top: -10px">Registration Statistics <small> Real-time numbers and analytics for the event's guest attendance <h4>Event Date: <span><select class="form-control" ng-model="chooseThisEventDay" ng-change="changedDate(chooseThisEventDay);" ng-options="event.day for event in chooseEventDay"></select></span></h4></small> </h2>
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-4 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        {{ totalPresent }}
                                    </h3>
                                    <p>
                                        Total Attendees
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-android-contacts"></i>
                                </div>
                                <a href="#guests" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow" data-toggle="popover" data-placement="bottom" data-content="Total Walkin Guests: {{ totalWalkins }} <br />Total Pre-Registered Guests: {{ totalPreregistered }}" data-html="true" data-trigger="hover">
                                <div class="inner">
                                    <h3>
                                        {{ totalRegistered }}
                                    </h3>
                                    <p>
                                        Registered Guests
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios7-stopwatch"></i>
                                </div>
                                <a href="#guests" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                       <!--  <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>
                                        {{ totalnotyetRegistered }}
                                    </h3>
                                    <p>
                                        have not yet registered
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion  ion-ios7-bolt"></i>
                                </div>
                                <a href="#guests" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div> -->
                        <div class="col-lg-4 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        {{ totalAnonymousGuests }}
                                    </h3>
                                    <p>
                                        Anonymous Guests
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-compose"></i>
                                </div>
                                <a href="#guests" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->

                    <div class="navbar navbar-default" id="bs-example-navbar-collapse-2" >
                        <ul class="nav nav-tabs">
                            <li class="active"><a showtab="" href="#regHistogramGraph" id='liRegHistogramGraph' role="tab" data-toggle="tab" style="font-size: 20px; font-family: bebas">Event-Day Registration Histogram</a></li>
                            <li><a showtab="" href="#preRegHistogramGraph" id="liPreRegHistogramGraph" role="tab" data-toggle="tab" style="font-size: 20px; font-family: bebas">Pre-Registration Histogram</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="regHistogramGraph">
                                <div class="row">
                                    <div class="col-xs-12 tab-content">
                                        <div class="box box-solid bg-light-blue">
                                            <div class="box-header">
                                                <h3 class="box-title" style="">Event Registration History</h3>
                                            </div>
                                        </div><!-- /.box -->
                                        <div class="box box-primary">
                                            <div id="container" style="min-width: 310px; height: 500px; display: block; margin: 0 auto;"> </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="preRegHistogramGraph">
                                <div class="row">
                                    <div class="col-xs-12 tab-content">
                                        <div class="box box-solid bg-light-blue">
                                            <div class="box-header">
                                                <h3 class="box-title" style="">Event Pre-Registration History</h3>
                                            </div>
                                        </div><!-- /.box -->
                                        <div class="box box-primary">
                                            <div id="container2" style="min-width: 310px; height: 500px; display: block; margin: 0 auto;"> </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.navbar-default -->

                    <div class="row">
                        <div class="col-lg-4 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        {{ totalEngagements }}
                                    </h3>
                                    <p>
                                        Total Engagements
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-android-contacts"></i>
                                </div>
                                <a href="#guests" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>
                                        {{ totalBoothCheckins }}
                                    </h3>
                                    <p>
                                        Total Booth Check-Ins
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios7-stopwatch"></i>
                                </div>
                                <a href="#guests" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        {{ totalBoothClaims }}
                                    </h3>
                                    <p>
                                       Total Booth Claims
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-compose"></i>
                                </div>
                                <a href="#guests" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
 <!--                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        {{ boothMost3 }}
                                    </h3>
                                    <p>
                                        3rd Most visited booth
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios7-bolt"></i>
                                </div>
                                <a href="#guests" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div> -->
                    </div><!-- /.row -->

                    <div class="navbar navbar-default" id="bs-example-navbar-collapse-3" >
                        <ul class="nav nav-tabs">
                            <li class="active"><a showtab="" id="liCheckinsPieGraph" href="#checkinsPieGraph" role="tab" data-toggle="tab" style="font-size: 20px; font-family: bebas">Real-Time Booth Checkins Breakdown</a></li>
                            <li><a showtab="" id="liClaimsHistogramGraph" href="#claimsHistogramGraph" role="tab" data-toggle="tab" style="font-size: 20px; font-family: bebas">Real-Time Booth Claims History</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="checkinsPieGraph">
                                <div class="row">
                                    <div class="col-xs-12 tab-content">
                                        <div class="box box-solid bg-light-blue">
                                            <div class="box-header">
                                                <h3 class="box-title">Event Checkin Booths Visits</h3>
                                            </div>
                                        </div>
                                        <div class="box box-primary">
                                            <div id="container3" style="min-width: 310px; height: 500px; display: block; margin: 0 auto;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="claimsHistogramGraph">
                                <div class="row">
                                    <div class="col-xs-12 tab-content">
                                        <div class="box box-solid bg-light-blue">
                                            <div class="box-header">
                                                <h3 class="box-title">Event Claim Booths Visits</h3>
                                            </div>
                                        </div>
                                        <div class="box box-primary">
                                            <div id="container4" style="min-width: 310px; height: 500px; display: block; margin: 0 auto;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->