<!DOCTYPE html>
<!-- <html ng-app='AccessApp' nice-scroll> -->
<html lang="en" ng-app='expoApp'>
    <head>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <meta property="og:image" content="../public/img/logo/gooralogo.png" />
        <meta content="og:type" content="product">
        <meta content="og:url" content="https://www.facebook.com/mdgoorahna">
        <title>Expo App Portal</title>
        <!--
        Favicon stuff
        -->
        <link rel="shortcut icon" href="../public/img/icons/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/img/icons/favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/img/icons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/img/icons/mstile-144x144.png">
        <meta name="msapplication-config" content="/img/icons/browserconfig.xml">
        <!--
        End of Favicon Stuff
        -->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>

        <!--Application CSS Files-->
        {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
        {% endfor %}

    </head>

    <body class="skin-black" ng-controller="expoAppController">
        <header class="header">
            <nav class="" role="navigation" style="margin-left: 10px">
                <div style="float: right">
                    <h1 style="font-family:bebas; text-align: right; margin-top: 90px">{{ dateNow }} &nbsp;<br /><small style="font-size: 50px">{{ timeNow }} &nbsp;</small></h1>
                </div>
                <div style="float: left">
                    <h1 style="font-family:bebas; font-size: 50px; color: #ef510a"> Event Management App </h1>
                    <img src="img/avatar5.png" style="width: 100px; float: left"/>
                    <h2 style="font-family:bebas"> &nbsp; Welcome back, {{ user.username }}! </h2>
                    <h3 style="font-family:bebas"> &nbsp; <a href="" ng-click="showUserProfile();">Profile</a> | <a href="/logout">Logout</a> </h3> 
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <aside class="left-side sidebar-offcanvas">
                <section class="sidebar">
                    <h3 style="color: white; font-family: bebas"> &nbsp; &nbsp; Select an event: </h3>
                    <div class="form-group col-sm-12">
                        <select class="form-control" ng-model="chooseEvent" ng-change="getEventProfile();" ng-options="event.name for event in eventsDetails" style="color: black">
                            <!-- <option value="">Choose Event</option> -->
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <div class="box box-solid" style="height: 275px; width: 100%; position: relative; background-color: #eee">
                            <div class="box-header">
                                <h3 class="" style="font-family: bebas; text-align: center;">Event Profile</h3>
                            </div>
                            <div class="box-body">
                                <h5> <span style="font-weight:800"> Name: </span> {{ chooseEvent.name }}</h5> 
                                <h5> <span style="font-weight:800"> Venue: </span> {{ chooseEvent.location }} </h5> 
                                <h5> <span style="font-weight:800"> Date: </span> {{ chooseEventDate }} </h5> 
                                <h5> <span style="font-weight:800"> Estimated # of Guests: </span> {{ chooseEvent.guestEstimate }}</h5> 
                                <h5> <span style="font-weight:800"> Organizer: {{ chooseEvent.organizerID }} </span> </h5> 
                                <br />
                                
                                <button class="btn btn-success" style="display: block; margin: 0 auto;  background-color: #ef510a; border: #ef510a" ng-click="editEventProfile();">Edit Event Profile</button>
                            </div>
                        </div>  
                    </div>     
                    <div class="col-sm-12">
                        <button class="btn btn-warning" style="width: 100%; font-family: bebas; font-size: 30px" ng-click="createEvent();">Create Event</button>
                    </div>    
                    <div class="col-sm-12">
                        <button class="btn btn-danger" style="width: 100%; font-family: bebas; font-size: 30px;" ng-click="viewSettings();">Settings</button>
                    </div>                
                </section>
            </aside>

            <div ng-view></div>

            <div class="modal fade" id="userprofile" tabindex="-1" role="dialog" aria-labelledby="userprofile" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>-->
                            <h4 class="modal-title" id="userprofileheader" style="font-size: 20px; font-weight: 800; color: white">View User Profile</h4>
                        </div>
                        <div class="modal-body" style="padding-top: 30px">
                            <h3 id="userprofilebody" style="font-family: 'hero'; font-size: 18px; color: black"></h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="userprofile btn btn-default" style="background-color: #666; color: white; font-size: 15px">Try Again</button>
                            <button type="button" class="btn btn-default" ng-hide="showoptionalbutton" style="background-color: #666; color: white; font-size: 15px" ng-click="hideoptionbutton();">I'll do it next time</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editeventprofile" tabindex="-1" role="dialog" aria-labelledby="editeventprofile" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>-->
                            <h4 class="modal-title" id="editeventprofileheader" style="font-size: 20px; font-weight: 800; color: white">View User Profile</h4>
                        </div>
                        <div class="modal-body" style="padding-top: 30px">
                            <h5> <span style="font-weight:800"> Name: </span> {{ chooseEvent.name }}</h5> 
                            <h5> <span style="font-weight:800"> Venue: </span> {{ chooseEvent.location }} </h5> 
                            <h5> <span style="font-weight:800"> Date: </span> {{ chooseEventDate }} </h5> 
                            <h5> <span style="font-weight:800"> Estimated # of Guests: </span> {{ chooseEvent.guestEstimate }}</h5> 
                            <h5> <span style="font-weight:800"> Organizer: {{ chooseEvent.organizerID }} </span> </h5> 
                            <br />
                            <h5 style="font-weight:800"> -- Booths -- </h5>
                            <div class="form-group">
                                <ul ng-repeat="booth in alleventBooths" style="list-style-type: none">
                                    <li><span style="font-weight: 800">Booth Name: </span> {{booth.name}}</li>
                                    <li><span style="font-weight: 800">Booth Type: </span> {{booth.type}}</li>
                                    <li><span style="font-weight: 800">Booth ID: </span> {{booth.id}}</li>
                                    <li><span style="font-weight: 800">Max Transaction: </span> {{booth.maxTransactionsPerGuest}}</li>
                                    <li><button type="button" ng-click="deletethisbooth(booth.name)">Edit</button>&nbsp;<button type="button" ng-click="deletethisbooth(booth.name)">Delete</button></li>
                                    <hr />
                                </ul>
                            </div>
                            <button type="button" class="btn btn-default" ng-click="showboothDialog();" style="background-color: #666; color: white; font-size: 15px; float:right">Add more booths</button>
                            <br />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="editeventprofile btn btn-default" style="background-color: #666; color: white; font-size: 15px">Submit event</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade InDownBig" id="eventprofile" tabindex="-1" role="dialog" aria-labelledby="eventprofile" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>-->
                            <h4 class="modal-title" id="eventprofileheader" style="font-size: 20px; font-weight: 800; color: white"></h4>
                        </div>
                        <form role="form" ng-submit="submitEventForm();">
                            <div class="modal-body" style="padding-top: 30px">
                                <div class="form-group">
                                    <label>Event Name:</label>
                                      <input type="text" class="form-control" ng-model="modalEventProfile.name" required/>
                                </div>
                                <div class="form-group">
                                    <label>Date:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" data-inputmask="'alias': 'yyyy-mm-dd'" data-mask ng-model="modalEventProfile.date" required />
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                                <div class="form-group">
                                    <label>Location:</label>
                                      <input type="text" class="form-control" ng-model="modalEventProfile.location" required/>
                                </div>
                                <div class="form-group">
                                    <label>Guest Estimate:</label>
                                      <input type="number" class="form-control" ng-model="modalEventProfile.guestEstimate" required/>
                                </div>
                                <div class="form-group">
                                    <label>
                                      <input type="checkbox" ng-model="modalEventProfile.preRegAvailable" ng-true-value="true" ng-false-value="false"/>&nbsp;Pre-Registration Available?
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                      <input type="checkbox" ng-model="modalEventProfile.activationRequired" ng-true-value="true" ng-false-value="false"/>&nbsp;Activation Required?
                                    </label>
                                </div>
                                 <div class="form-group">
                                    <label>Background Image:</label>
                                       <input type="file" id="bgInput" accept="image/*" />
                                </div>
                                 <div class="form-group">
                                    <label>Logo:</label>
                                       <input type="file" id="logoInput"  accept="image/*" />
                                </div>
                                <div class="form-group">
                                    <label>Select Primary Font:</label> &nbsp;
                                    <select ng-model="modalEventProfile.primaryFont">
                                        <option> Arial </option>
                                        <option> Sans Serif </option>
                                        <option> Red October </option>
                                        <option> Edo </option>
                                    </select>  
                                </div>
                                <div class="form-group">
                                    <label>Select Secondary Font:</label> &nbsp;
                                    <select ng-model="modalEventProfile.secondaryFont">
                                        <option> Arial </option>
                                        <option> Sans Serif </option>
                                        <option> Red October </option>
                                        <option> Edo </option>
                                    </select>  
                                </div>
                                <div class="form-group">
                                    <label>Event URL:</label>
                                      <input type="text" class="form-control" ng-model="modalEventProfile.registrationURL" required/>
                                </div>
                                <div class="form-group">
                                    <label>Notes:</label>
                                      <textarea rows="10" cols="50" class="form-control" ng-model="modalEventProfile.notes"></textarea>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" value="Specify Guest Fields..."></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

             <div class="modal fade InDownBig" id="guestprofile" tabindex="-1" role="dialog" aria-labelledby="guestprofile" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>-->
                            <h4 class="modal-title" id="guestprofileheader" style="font-size: 20px; font-weight: 800; color: white"></h4>
                        </div>
                        <form role="form" ng-submit="submitFieldsForm();">
                            <div class="modal-body" style="padding-top: 30px; height: 320px" >
                                <div class="col-sm-6">
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.firstName"> First Name </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.lastName"> Last Name </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.middleName"> Middle Name </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.nickName"> Nickname </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.gender"> Gender </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.email"> Email </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.mobileNo"> Mobile # </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.title"> Title </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.profession"> Profession </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.company"> Company </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.education"> Education </input>
                                        </label>
                                    </div>
                                </div>
                                 <div class="col-sm-6">
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.birthDate"> BirthDate </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.streetAddress1"> Street Address 1 </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.streetAddress2"> Street Address 2 </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.cityAddress"> City Address </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.regionAddress"> Region Address </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.country"> Country </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.zip"> Zip </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.religion"> Religion </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.facebookPage"> Facebook Page </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" ng-model="modalGuestProfile.twitterHandle"> Twitter Handle </input>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label>
                                            <input type="checkbox" nng-model="modalGuestProfile.instagramHandle"> Instagram Handle </input>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" ng-click="backModal();">Back</button>
                                <input type="submit" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" value="Create new event..."></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade InDownBig" id="boothprofile" tabindex="-1" role="dialog" aria-labelledby="boothprofile" aria-hidden="true" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>-->
                            <h4 class="modal-title" id="boothprofileheader" style="font-size: 20px; font-weight: 800; color: white"></h4>
                        </div>
                        <form role="form" ng-submit="submitAllBooths();">
                            <div class="modal-body" style="padding-top: 30px; max-height: 320px; overflow-y: scroll" >
                                <div class="form-group">
                                    <label>Booth Name:</label>
                                      <input type="text" class="form-control" ng-model="modalBoothProfile.name" required/>
                                </div>
                                <div class="form-group">
                                    <label>Booth Type:</label>
                                    <select class="form-control" ng-model="modalBoothProfile.type">
                                        <option>checkin</option>
                                        <option>activation</option>
                                        <option>loading</option>
                                        <option>claiming</option>
                                        <option>survey</option>
                                        <option>photobooth</option>
                                        <option>raffle</option>
                                        <option>status</option>
                                        <option>credit</option>
                                    </select>
                                    <p style="color: red" ng-hide="boothrequirement"> Please fill in booth name and/or type. </p>
                                </div>
                                <div class="form-group">
                                    <label>Max Transactions Per Guest:</label>
                                      <input type="number" class="form-control" ng-model="modalBoothProfile.maxTransactionsPerGuest" required/>
                                </div>
                                 <br />
                                 <h4 style="color: #3e3e3e"> Submitted Booths : </h4>
                                 <div class="form-group">
                                    <ul ng-repeat="booth in submittedBooths" style="list-style-type: none">
                                        <li><span style="font-weight: 800">Booth Name: </span> {{booth.name}}</li>
                                        <li><span style="font-weight: 800">Booth Type: </span> {{booth.type}}</li>
                                        <li><span style="font-weight: 800">Max Transaction: </span> {{booth.maxTransactionsPerGuest}}</li>
                                        <li><button type="button" ng-click="deletethisbooth(booth.name)">Edit</button>&nbsp;<button type="button" ng-click="deletethisbooth(booth.name)">Delete</button></li>
                                        <hr />
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" ng-click="addAnotherBoothModal();">Add booth</button>
                                <input type="submit" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" value="Submit booths"></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Application JavaScript Files-->
        {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
        {% endfor %}   
    </body>
</html>
