<!DOCTYPE html>
<html lang="en" ng-app="expoApp">
    <head>
        <meta charset="UTF-8">
        <title>Event Management App</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <meta property="og:image" content="../public/img/gooralogo.png" />

        <!-- From Third Party -->
        <link href="vendor/fonts/fonts.css" rel="stylesheet" type="text/css" />
        <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="vendor/toastr/toastr.css" rel="stylesheet" type="text/css" />        
        <link href="vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="vendor/ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link href="vendor/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <link href="vendor/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet"/>
        <!-- <link href="vendor/custom/datatable_page.css" rel="stylesheet"/> -->
        <!-- <link href="vendor/custom/datatable_table.css" rel="stylesheet"/> -->
        <!-- <link href="vendor/custom/datatable_bootstrap.css" rel="stylesheet"/> -->
        <link href="vendor/datatables/media/css/jquery.dataTables.css" rel="stylesheet"/>

        <link href="vendor/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <link href="vendor/fullcalendar/fullcalendar.print.css" rel="stylesheet" type="text/css" media='print' />
        <link href="vendor/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" rel="stylesheet"/>        
        <link href="vendor/adminLTE.css" rel="stylesheet" type="text/css" />

        <link href="css/guests.css" rel="stylesheet" type="text/css" />

        <!-- Favicon Stuff -->
        <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/icons/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/img/icons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/img/icons/manifest.json">
        <link rel="shortcut icon" href="/img/icons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/img/icons/mstile-144x144.png">
        <meta name="msapplication-config" content="/img/icons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <meta content="og:type" content="product">
        <meta content="og:url" content="https://www.facebook.com/mdgoorahna">
    </head>

    <body class="skin-black ng-cloak" ng-controller="expoAppController">
        <header class="header">
            <nav class="" role="navigation" style="margin-left: 10px">
                <div style="float: right">
                    <h1 style="font-family:bebas; text-align: right; margin-top: 90px">{{ dateNow }} &nbsp;<br /><small style="font-size: 50px">{{ timeNow }} &nbsp;</small></h1>
                </div>
                <div style="float: left">
                    <h1 style="font-family:bebas; font-size: 50px; color: #ef510a"> Event Management App </h1>
                    <img src="img/avatar5.png" style="width: 100px; float: left"/>
                    <h2 style="font-family:bebas"> &nbsp; Welcome back, {{ user.username }}! </h2>
                    <h3 style="font-family:bebas"> &nbsp; <a href="" ng-click="showUserProfile();">Profile</a> | <a href="/logout">Logout</a> </h3> 
                </div>
            </nav>
        </header>

        <div class="wrapper row-offcanvas row-offcanvas-left">
            <aside class="left-side sidebar-offcanvas">
                <section class="sidebar">
                    <h3 style="color: white; font-family: bebas"> &nbsp; &nbsp; Select an event: </h3>
                    <div class="form-group col-sm-12">
                        <select class="form-control" ng-model="chooseEvent" ng-options="event.name for event in eventsDetails" style="color: black">
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <div class="box box-solid" style="height: 275px; width: 100%; position: relative; background-color: #eee">
                            <div class="box-header">
                                <h3 class="" style="font-family: bebas; text-align: center;">Event Profile</h3>
                            </div>
                            <div class="box-body">
                                <h5> <span style="font-weight:800"> Name: </span> {{ chooseEvent.name }}</h5> 
                                <h5> <span style="font-weight:800"> Venue: </span> {{ chooseEvent.location }} </h5> 
                                <h5> <span style="font-weight:800"> Date: </span> {{ chooseEvent.date | convertDateMMMMDDYYYY }} </h5> 
                                <h5> <span style="font-weight:800"> Estimated # of Guests: </span> {{ chooseEvent.guestEstimate }}</h5> 
                                <h5> <span style="font-weight:800"> Organizer: {{ chooseEvent.organizerID }} </span> </h5>
                                <h5 ng-show='chooseEvent.preRegAvailable'> <span style="font-weight:800;"> Pre-registration Site:<br/> <a href="/preregister#/{{ chooseEvent.id }}" style="color: #1AA7F0; "> /preregister#/{{ chooseEvent.id }} </a> </span> </h5>
                                <h5> <span style="font-weight:800;"> Walk-in Registration Site: <a href="/register#/{{ chooseEvent.id }}" style="color: #1AA7F0; "> /register#/{{ chooseEvent.id }} <br/> </a> </span> </h5>
                                <br />
                                
                            </div>
                        </div>  
                    </div>     
                    <div class="col-sm-12">
                        <button class="btn btn-primary" style="width: 100%; font-family: bebas; font-size: 30px" ng-click="openCreateEventModal();">Create New Event</button>
                    </div>    
                    <div class="col-sm-12">
                        <button class="btn btn-warning" style="width: 100%; font-family: bebas; font-size: 30px;" ng-click="openEditEventModal();">Edit Event Details</button>
                    </div>
                    <div class="col-sm-12">
                        <button class="btn btn-danger" style="width: 100%; font-family: bebas; font-size: 30px;" ng-click="openEditEventBoothsModal();">Edit Event Booths</button>
                    </div>
                </section>
            </aside>

            <div ng-view></div> 

        </div>


        <!-- Modal Definitions -->

        <!-- edit user profile -->
        <div class="modal fade" id="userprofile" tabindex="-1" role="dialog" aria-labelledby="userprofile" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                        <h4 class="modal-title" ng-show='editUserProfile' id="userprofileheader" style="font-size: 20px; font-weight: 800; color: white">Edit User Profile</h4>
                        <h4 class="modal-title" ng-hide='editUserProfile' id="userprofileheader" style="font-size: 20px; font-weight: 800; color: white">User Profile</h4>
                    </div>

                    <form role="form" ng-submit="editUserInfo(user);">
                        <div class="modal-body" style="padding-top: 30px">
                            <div ng-show='editUserProfile'>
                                <div class="form-group">
                                    <label>Username:</label>
                                      <input type="text" ng-disabled=true class="form-control" ng-model="user.username"/>
                                </div>
                                <div class="form-group">
                                    <label>First Name:</label>
                                      <input type="text" ng-disabled class="form-control" ng-model="user.firstName"/>
                                </div>
                                <div class="form-group">
                                    <label>Last Name:</label>
                                      <input type="text" ng-disabled class="form-control" ng-model="user.lastName"/>
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                      <input type="email" ng-disabled class="form-control" ng-model="user.email"/>
                                </div>
                                <div class="form-group">
                                    <label>Mobile Number:</label>
                                      <input type="text" ng-disabled class="form-control" ng-model="user.mobileNo"/>
                                </div>
                            </div>
                            <div ng-hide='editUserProfile'>
                                <div class="form-group">
                                    <h5> <span style="font-weight:800"> Username: </span> &nbsp;&nbsp; {{user.username}}</h5>
                                </div>
                                <div class="form-group">
                                    <h5> <span style="font-weight:800"> First Name: </span> &nbsp;&nbsp; {{user.firstName}}</h5>
                                </div>
                                <div class="form-group">
                                    <h5> <span style="font-weight:800"> Last Name: </span> &nbsp;&nbsp; {{user.lastName}}</h5>
                                </div>
                                <div class="form-group">
                                    <h5> <span style="font-weight:800"> Email: </span> &nbsp;&nbsp; {{user.email}}</h5>
                                </div>
                                <div class="form-group">
                                    <h5> <span style="font-weight:800"> Mobile: </span> &nbsp;&nbsp; {{user.mobileNo}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div ng-show='editUserProfile'>
                                <input type="submit" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" value="Submit"/>
                                <button type="button" class="btn btn-default" style="background-color: #666; color: white; font-size: 15px" ng-click="hideUserProfile();">Cancel</button>
                            </div>
                            <div ng-hide='editUserProfile'>
                                <button type="button" class="btn btn-default" style="background-color: #666; color: white; font-size: 15px" ng-click="toggleEditUserProfile();">Edit</button>
                                <button type="button" class="btn btn-default" style="background-color: #666; color: white; font-size: 15px" ng-click="hideUserProfile();">Close</button>
                            </div>
                            
                                
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- create new event -->
        <div class="modal fade InDownBig" id="eventprofile" tabindex="-1" role="dialog" aria-labelledby="eventprofile" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">                    
                        <h4 class="modal-title" id="eventprofileheader" style="font-size: 20px; font-weight: 800; color: white">Create New Event</h4>
                    </div>
                    <form role="form" ng-submit="submitCreateNewEventForm();">
                        <div class="modal-body" style="padding-top: 30px">
                            <div class="form-group">
                                <label>Event Name:</label>
                                  <input type="text" class="form-control" ng-model="modalEventProfile.name" required/>
                            </div>
                            <div class="form-group">
                                <label>Date:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control" data-inputmask="'alias': 'yyyy-mm-dd'" data-mask ng-model="modalEventProfile.date" required />
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                            <div class="form-group">
                                <label>Location:</label>
                                  <input type="text" class="form-control" ng-model="modalEventProfile.location" required/>
                            </div>
                            <div class="form-group">
                                <label>Guest Estimate:</label>
                                  <input type="number" class="form-control" ng-model="modalEventProfile.guestEstimate" required/>
                            </div>
                            <div class="form-group">
                                <label>
                                  <input type="checkbox" ng-model="modalEventProfile.preRegAvailable" ng-true-value="true" ng-false-value="false"/>&nbsp;Pre-Registration Available?
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                  <input type="checkbox" ng-model="modalEventProfile.activationRequired" ng-true-value="true" ng-false-value="false"/>&nbsp;Activation Required?
                                </label>
                            </div>
                             <div class="form-group">
                                <label>Background Image:</label>
                                   <input type="file" id="bgInput" accept="image/*" />
                            </div>
                             <div class="form-group">
                                <label>Logo:</label>
                                   <input type="file" id="logoInput"  accept="image/*" />
                            </div>
                            <div class="form-group">
                                <label>Select Primary Font:</label> &nbsp;
                                <select ng-model="modalEventProfile.primaryFont">
                                    <option> Arial </option>
                                    <option> Sans Serif </option>
                                    <option> Red October </option>
                                    <option> Edo </option>
                                </select>  
                            </div>
                            <div class="form-group">
                                <label>Select Secondary Font:</label> &nbsp;
                                <select ng-model="modalEventProfile.secondaryFont">
                                    <option> Arial </option>
                                    <option> Sans Serif </option>
                                    <option> Red October </option>
                                    <option> Edo </option>
                                </select>  
                            </div>
                            <div class="form-group">
                                <label>Event URL:</label>
                                  <input type="text" class="form-control" ng-model="modalEventProfile.registrationURL" required/>
                            </div>
                            <div class="form-group">
                                <label>Notes:</label>
                                  <textarea rows="10" cols="50" class="form-control" ng-model="modalEventProfile.notes"></textarea>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" value="Specify Guest Fields..."/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- guest details modal - create new event -->
        <div class="modal fade InDownBig" id="guestprofile" tabindex="-1" role="dialog" aria-labelledby="guestprofile" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>-->
                        <h4 class="modal-title" id="guestprofileheader" style="font-size: 20px; font-weight: 800; color: white">Choose Guest Fields</h4>
                    </div>
                    <form role="form" ng-submit="submitGuestFieldsForm();">
                        <div class="modal-body" style="padding-top: 30px; height: 320px" >
                            <div class="col-sm-6">
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.firstName"/> First Name
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.lastName"/> Last Name 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.middleName"/> Middle Name
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.nickName"/> Nickname 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.gender"/> Gender 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.email"/> Email 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.mobileNo"/> Mobile # 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.title"/> Title 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.profession"/> Profession 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.company"/> Company 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.education"/> Education 
                                    </label>
                                </div>
                            </div>
                             <div class="col-sm-6">
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.birthDate"/> BirthDate 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.streetAddress1"/> Street Address 1 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.streetAddress2"/> Street Address 2 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.cityAddress"/> City Address 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.regionAddress"/> Region Address 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.country"/> Country 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.zip"/> Zip 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.religion"/> Religion 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.facebookPage"/> Facebook Page 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" ng-model="modalGuestProfile.twitterHandle"/> Twitter Handle 
                                    </label>
                                </div>
                                <div class="row">
                                    <label>
                                        <input type="checkbox" nng-model="modalGuestProfile.instagramHandle"/> Instagram Handle 
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" ng-click="returnToCreateEventModal();">Back</button>
                            <input type="submit" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" value="Create new event..."/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- edit event profile -->
        <div class="modal fade" id="editeventprofile" tabindex="-1" role="dialog" aria-labelledby="editeventprofile" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                        <h4 class="modal-title" ng-show='editEventProfileMode' style="font-size: 20px; font-weight: 800; color: white">Edit Event Profile</h4>
                        <h4 class="modal-title" ng-hide='editEventProfileMode' style="font-size: 20px; font-weight: 800; color: white">Event Profile</h4>
                    </div>

                    <form role="form" ng-submit="submitEditEventInfoForm(eventToEdit);">
                        <div class="modal-body" style="padding-top: 30px">
                            <div ng-show='editEventProfileMode'>
                                <div class="form-group">
                                    <label>Name:</label>
                                      <input type="text" class="form-control" ng-model="eventToEdit.name" required/>
                                </div>
                                <div class="form-group">
                                    <label>Venue:</label>
                                      <input type="text" class="form-control" ng-model="eventToEdit.location" required/>
                                </div>
                                <div class="form-group">
                                    <label>Date:</label>
                                    <input type="text" class="form-control" data-inputmask="'alias': 'yyyy-mm-dd'" data-mask ng-model="eventToEdit.date" required />
                                </div>
                                <div class="form-group">
                                    <label>Estimated # of Guests:</label>
                                      <input type="number" class="form-control" ng-model="eventToEdit.guestEstimate" required/>
                                </div>
                                <div class="form-group">
                                    <label>Organizer:</label>
                                      <input type="text" ng-disabled=true class="form-control" ng-model="eventToEdit.organizerID"/>
                                </div>
                            </div>
                            <div ng-hide='editEventProfileMode'>
                                <div class="form-group">
                                    <h5> <span style="font-weight:800"> Name: </span> &nbsp;&nbsp; {{ chooseEvent.name }}</h5> 
                                </div>
                                <div class="form-group">
                                    <h5> <span style="font-weight:800"> Venue: </span> &nbsp;&nbsp; {{ chooseEvent.location }} </h5> 
                                </div>
                                <div class="form-group">
                                    <h5> <span style="font-weight:800"> Date: </span> &nbsp;&nbsp; {{ chooseEvent.date | convertDateMMMMDDYYYY }} </h5> 
                                </div>
                                <div class="form-group">
                                    <h5> <span style="font-weight:800"> Estimated # of Guests: </span> &nbsp;&nbsp; {{ chooseEvent.guestEstimate }}</h5> 
                                </div>
                                <div class="form-group">
                                    <h5> <span style="font-weight:800"> Organizer: </span> &nbsp;&nbsp; {{ chooseEvent.organizerID }} </h5> 
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div ng-show='editEventProfileMode'>
                                <input type="submit" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" value="Submit"/>
                                <button type="button" class="btn btn-default" style="background-color: #666; color: white; font-size: 15px" ng-click="hideEditEventProfileModal();">Cancel</button>
                            </div>
                            <div ng-hide='editEventProfileMode'>
                                <button type="button" class="btn btn-default" style="background-color: #666; color: white; font-size: 15px" ng-click="editEventProfile(chooseEvent);">Edit</button>
                                <button type="button" class="btn btn-default" style="background-color: #666; color: white; font-size: 15px" ng-click="hideEditEventProfileModal();">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- create booth now? modal -->
        <div class="modal fade" id="createBoothPromptDialog" tabindex="-1" role="dialog" aria-labelledby="createBoothPromptDialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                        <h4 class="modal-title" style="font-size: 20px; font-weight: 800; color: white">Successfully Created New Event!</h4>
                    </div>

                    <div class="modal-body" style="padding-top: 30px;" >
                        <h3 id="userprofilebody" style="font-size: 18px; color: black"> Would you like to add booths now? </h3>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" style="background-color: #666; color: white; font-size: 15px" ng-click="openFromNewEventAddBoothsModal();">Create Booths</button>
                        <button type="button" class="btn btn-default" style="background-color: #666; color: white; font-size: 15px" ng-click="closeCreateBoothPromptModal();">Later</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- add new booth details -->
        <div class="modal fade InDownBig" id="boothprofile" tabindex="-1" role="dialog" aria-labelledby="boothprofile" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>-->
                        <h4 class="modal-title" id="boothprofileheader" style="font-size: 20px; font-weight: 800; color: white"> Add New Booths </h4>
                    </div>
                    <form role="form">
                        <div class="modal-body" style="padding-top: 30px; max-height: 320px; overflow-y: scroll" >
                            <div class="form-group">
                                <label>Booth Name:</label>
                                  <input type="text" class="form-control" ng-model="modalBoothProfile.name"/>
                            </div>
                            <div class="form-group">
                                <label>Booth Type:</label>
                                <select class="form-control" ng-model="modalBoothProfile.type">
                                    <option>checkin</option>
                                    <option>activation</option>
                                    <option>loading</option>
                                    <option>claiming</option>
                                    <option>survey</option>
                                    <option>photobooth</option>
                                    <option>raffle</option>
                                    <option>status</option>
                                    <option>credit</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Max Transactions Per Guest:</label>
                                  <input type="number" class="form-control" ng-model="modalBoothProfile.maxTransactionsPerGuest"/>
                                  <p style="color: red" ng-show="showBoothFieldsError"> Please complete all the fields properly </p>
                            </div>                            
                            <button type="button" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px; float: right;" ng-click="queueBoothSubmit();">Add booth</button>
                             <br />
                             <h4 style="color: #3e3e3e"> Submitted Booths : </h4>
                             <div class="form-group">
                                <ul ng-repeat="booth in submittedBooths" style="list-style-type: none">
                                    <li><span style="font-weight: 800">Booth Name: </span> {{booth.name}}</li>
                                    <li><span style="font-weight: 800">Booth Type: </span> {{booth.type}}</li>
                                    <li><span style="font-weight: 800">Max Transaction: </span> {{booth.maxTransactionsPerGuest}}</li>
                                    <li><button type="button" class='btn btn-default' style='margin-top:2px;' ng-click="booth.removeBooth()">Remove</button></li>
                                    <hr />
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-show="createdNewEvent" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" ng-click='addBoothsLater();'>Add booths later </button>
                            <button type="button" ng-hide="createdNewEvent" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" ng-click='hideAddBoothModal();'>Cancel </button>
                            <button type="button" ng-disabled="disableSubmitAllBooths" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" ng-click='submitAllBooths();'>Submit All booths </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- event booth profile modal -->
        <div class="modal fade" id="editboothprofile" tabindex="-1" role="dialog" aria-labelledby="editboothdetails" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#10005;</button>
                        <h4 class="modal-title" id="editeventprofileheader" style="font-size: 20px; font-weight: 800; color: white">Edit Event Booths</h4>
                    </div>
                    <div class="modal-body" style="padding-top: 30px">
                        <h5 style="font-weight:800">Booths:</h5>
                        <div class="form-group">
                            <ul ng-repeat="booth in alleventBooths" style="list-style-type: none">
                                <li><button type='button' class="btn btn-default" style="background-color: #666; color: white; float:right;" ng-click="showEditBoothDetailsModal(booth)">Edit Booth</button></li>
                                <li><span style="font-weight: 800">Booth ID: </span> {{booth.id}}</li>
                                <li><span style="font-weight: 800">Booth Type: </span> {{booth.type}}</li>
                                <li><span style="font-weight: 800">Booth Name: </span> {{booth.name}}</li>
                                <li><span style="font-weight: 800">Max Transaction: </span> {{booth.maxTransactionsPerGuest}}</li>
                                <hr />
                            </ul>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="openAddBoothModal();" style="background-color: #666; color: white; font-size: 15px;">Add more booths</button>
                        <button type="button" class="btn btn-default" style="background-color: #666; color: white; font-size: 15px" ng-click="closeEditEventBoothsModal();">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- edit booth details -->
        <div class="modal fade InDownBig" id="editboothdetails" tabindex="-1" role="dialog" aria-labelledby="editboothdetails" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">                    
                        <h4 class="modal-title" style="font-size: 20px; font-weight: 800; color: white"> Edit Booth </h4>
                    </div>
                    <form role="form">
                        <div class="modal-body" style="padding-top: 30px; max-height: 320px; overflow-y: scroll" >
                            <div class='form-group'>
                                <label>Booth ID:</label>
                                  <input ng-disabled=true type="text" class="form-control" ng-model="boothToEdit.id"/>
                            </div>                            
                            <div class="form-group">
                                <label>Booth Type:</label>
                                <input ng-disabled=true type="text" class="form-control" ng-model="boothToEdit.type"/>
                            </div>
                            <div class="form-group">
                                <label>Booth Name:</label>
                                  <input type="text" class="form-control" ng-model="boothToEdit.name"/>
                            </div>
                            <div class="form-group">
                                <label>Max Transactions Per Guest:</label>
                                  <input type="number" class="form-control" ng-model="boothToEdit.maxTransactionsPerGuest"/>
                                  <p style="color: red" ng-show="showEditBoothFieldsError"> Please complete all the fields properly </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px;" ng-click="submitEditBoothDetails(boothToEdit);">Submit</button>
                            <button type="button" class="btn btn-default" style="background-color: #3e3e3e; color: white; font-size: 15px" ng-click='cancelEditBoothDetails();'>Cancel </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <script src="vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-ui/ui/jquery-ui.js" type="text/javascript"></script>
        <script src="vendor/lodash/lodash.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="vendor/angular/angular.min.js" type="text/javascript"></script>
        <script src="vendor/highcharts/highcharts.js" type="text/javascript"></script>
        <script src="vendor/highcharts/modules/data.js" type="text/javascript"></script>
        <script src="vendor/highcharts/modules/drilldown.js" type="text/javascript"></script>
        <script src="vendor/fullcalendar/fullcalendar.js" type="text/javascript"></script>
        <script src="vendor/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <script src="vendor/jquery.inputmask/dist/inputmask/jquery.inputmask.js" type="text/javascript"></script>
        <script src="vendor/jquery.inputmask/dist/inputmask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
        <script src="vendor/jquery.inputmask/dist/inputmask/jquery.inputmask.extensions.js" type="text/javascript"></script>
        <script src="vendor/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
        <script src="vendor/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js" type="text/javascript"></script>
        <script src="vendor/datatables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="vendor/angular-datatables/dist/angular-datatables.js" type="text/javascript"></script>
        <!-- // <script src="vendor/custom/datatable_bootstrap.js" type="text/javascript"></script> -->
        <script src="vendor/angular-route/angular-route.js" type="text/javascript"></script>
        <script src="vendor/moment/min/moment.min.js" type="text/javascript"></script>
        <script src="vendor/raphael/raphael-min.js" type="text/javascript"></script>
        <script src="vendor/adminLTE.js" type="text/javascript"></script>
        
        <script src="/vendor/toastr/toastr.min.js" type="text/javascript"></script>
        <script src="vendor/custom/excellentexport/excellentexport.js" type="text/javascript"></script>

        <script src="js/expoApp/expoApp.js" type="text/javascript"></script>
        <script src="js/expoApp/controllers/expoAppControllers.js" type="text/javascript"></script>
        <script src="js/expoApp/controllers/expoAppDashboardController.js" type="text/javascript"></script>
        <script src="js/expoApp/controllers/expoAppGuestController.js" type="text/javascript"></script>
        <script src="js/expoApp/controllers/expoAppEngagementController.js" type="text/javascript"></script>

        <script src="js/expoApp/services/expoAppServices.js" type="text/javascript"></script>

    </body>
</html>