<!DOCTYPE HTML>
<html ng-app="searchApp">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
	<title>Goorahna Search</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/search.css" />

    <!-- Favicon Stuff -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/icons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/icons/manifest.json">
    <link rel="shortcut icon" href="/img/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/img/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


</head>

<body ng-controller="searchControl">
	<div id="search" class="content" >
		<div class="col-sm-7">
			<img src="img/mdlogo.png" width="500px" style="margin-top: 50px; margin-left: 70px;"/>
			<div id="form" class="form"> 
				Search : <input class="input-trans" id="searchbox" style="width: 300px;" ng-enter="searchBox" placeholder="" callback-fn="clickSearch();"> &nbsp; 
				<button type="button" class="btn btn-oldstyle btn-lg print" href="javascript:void(0);" ng-click="clickSearch();"> <i class="fa fa-search fa-1x"></i> </button> <br />  
				<div style="margin-top: 10px">
				Guest : <span style="font-weight: 800"><a href="" style="color: #e4ff88" ng-click="submitRFID();">{{guest.id + ' -- ' + guest.firstName + ' ' + guest.lastName}}</a></span>
				</div>
			</div>
		</div>	
		<div class="col-sm-5 searchTree" style="margin-top: 100px"></div>
	</div>
	 <div class="modal fade" id="userprofile" tabindex="-1" role="dialog" aria-labelledby="userprofile" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 5px; background-color: #3e3e3e; border-top-left-radius: 5px; border-top-right-radius: 5px">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="myModalLabel-displaytime" style="font-family: 'hero'; font-size: 20px; font-weight: 800; color: white; text-align: center">Enter RFID Code</h4>
                        </div>
                        <form ng-submit="submitwithRFID();">
                        <div class="modal-body" style="padding-top: 30px; font-family: hero; color: #3e3e3e; font-size: 25px">
                            <img src="/img/rfid.jpg" style="width: 100%" /> 
                            <input autofocus id="rfidinput" type="text" style="background-color: #fefefe; border-bottom: 1px solid #3e3e3e; text-align: center; font-size: 30px; font-family: hero; color: #3e3e3e; width: 50%; display:block; margin: 0 auto; margin-top: 50px" required ng-model="guest.uID" ng-hide="hideRFID"></input> 
                            <h6 style="color: red; text-align: center; margin-top: 15px; font-size: 15px" ng-show="hideNOTE"> This RFID is already assigned to a guest. </h6>
                            <h2 style="color: red; text-align: center; margin-top: 15px" ng-show="hideRFID"> This guest already has an assigned RFID. Overwrite? </h2>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default"  style="background-color: #3e3e3e; color: white; font-family:'hero'; font-size: 15px" ng-show="hideRFID" ng-click="goBackToInputRFID();">Back</button>
                            <input type="submit" class="tryagain-displaytime btn btn-default"  style="background-color: #3e3e3e; color: white; font-family:'hero'; font-size: 15px" ng-disabled="disableRFID" value="Submit"></input>
                        </div>
                        </form>
                </div>
            </div>
        </div>

         <div class="modal fade" id="messagealert" tabindex="-1" role="dialog" aria-labelledby="messagealert" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom: 5px; background-color: #666; border-top-left-radius: 5px; border-top-right-radius: 5px">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>-->
                    <h4 class="modal-title" id="messagealertheader" style="font-size: 20px; font-weight: 800; color: white">Message Alert</h4>
                </div>
                <div class="modal-body" style="padding-top: 30px">
                    <h3 id="messagealertbody" style="font-family: 'hero'; font-size: 18px; color: black"></h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="messagealert btn btn-default" data-dismiss="modal" style="background-color: #666; color: white; font-size: 15px">Okay</button>
                </div>
            </div>
        </div>
    </div>

	<script src="vendor/jquery/dist/jquery.min.js" type="text/javascript"> </script>
	<script src="vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="vendor/angular/angular.min.js" type="text/javascript"> </script>

	<script src="js/searchApp/searchApp.js"></script>
    <script src="js/searchApp/controllers/searchControllers.js"></script>
    <script src="js/searchApp/directives/searchDirectives.js"></script>
</body>
</html>